<div id="messagerie" class="console-block">
  <h4><a class="link_toggle" data-toggle="collapse" data-parent="#messagerie" href="#messagerie-cont"><span>R&eacute;seaux sociaux</span></a></h4>
  <div id="messagerie-cont" class="collapse">
    <div class="middle">
      <ul>
        <li><a href="#"><span class="icon-facebook"></span><span class="icon-label">facebook</span></a></li>
        <li><a href="#"><span class="icon-twitter"></span><span class="icon-label">twitter</span></a></li>
        <li><a href="#"><span class="icon-addthis"></span><span class="icon-label">addthis</span></a></li>
		<li><a href="#"><span class="icon-rss"></span><span class="icon-label">flux rss</span></a></li>
		<li><a href="#"><span class="icon-googleplus"></span><span class="icon-label">google plus</span></a></li>
      </ul>
    </div>
    <div class="link"><a href="#">Tous les r&eacute;seaux sociaux</a></div>
  </div><!-- fin messagerie-cont -->
</div><!-- fin messagerie -->