<!-- Menu contextuel des champs thesaurus -->
<ul id="xthesaurusmenu" class="contextMenu" style="display:none;">
  <li class="add"><a href="#add"><%$syslabels.Seolan_Core_General.new_text%></a></li>
  <li class="edit"><a href="#edit"><%$syslabels.Seolan_Core_General.edit_text%></a></li>
  <li class="del"><a href="#del"><%$syslabels.Seolan_Core_General.delete_text%></a></li>
  <li class="copy"><a href="#copy"><%$syslabels.Seolan_Core_General.copy_text%></a></li>
  <li class="cut"><a href="#cut"><%$syslabels.Seolan_Core_General.cut_text%></a></li>
  <li class="paste"><a href="#paste"><%$syslabels.Seolan_Core_General.paste_text%></a></li>
</ul>
<div id="tooltip"></div>
<div id="colorpickerdiv"><div id="colorpickerflash"></div></div>




