<%* 
modal boostrap vx (poptree.html) + restauration from trash
*%>
<div class="title">
  <%if $smarty.request.title%><%$smarty.request.title|escape:'html'%> : <%$syslabels.Seolan_Module_DocumentManagement_DocumentManagement.selectdst|strtolower%>
  <%else%><%$syslabels.Seolan_Module_DocumentManagement_DocumentManagement.selectdst%><%/if%>
</div>
<div id="tzr-action<%$uniqid%> " class="tzr-action col-lg-12">
  <button  class="btn btn-default" onclick="" data-dismiss="modal" type="btn"><%$syslabels.Seolan_Core_General.close_text%></button>
</div>
<div id="poptree<%$uniqid%>">    
  <%if $smarty.request._selected%>
  <%assign var=stopoid value="0"%>
  <%else%>
  <%if $smarty.request._move || (!$smarty.request._move && !$smarty.request._copy)%>
  <%assign var=stopoid value="$smarty.request.oid"%>
  <%else%>
  <%assign var=stopoid value="0"%>
  <%/if%>
  <%/if%>
  <form name="<%$uniqid%>edit">
    <%if $smarty.request._copy && $imod_mod->secure($smarty.request.oid,'secEdit')%>
    <label><input type="checkbox" class="checkbox" id="copyrights">&nbsp;<%$syslabels.Seolan_Module_DocumentManagement_DocumentManagement.copyrights_text%></label>
    <%else%>
    <input type="hidden" class="checkbox" id="copyrights" value="0">
    <%/if%>
    <ul class="simpleTree docsTree">
      <li class="root">
	<span><a href="#" onclick='TZR.DocumentManagement.ModalTree.select.call(TZR.DocumentManagement.ModalTree,"<%$br_path[0][0]->oid%>","<%$br_path[0][0]->title|escape:'html'|escape:'javascript'|replace:'&#039;':'\''%>"); return false;'><%$imod_props.modulename%></a></span>
	<ul>
	  <%section name="i" loop=$br_ors%>
	  <%if $stopoid eq $br_docs[i]->oid%>
	  <%assign var=actionok value="0"%>
	  <%else%>
	  <%assign var=actionok value="1"%>
	  <%/if%>
	  <%assign var=docicon value=$br_docs[i]->smalliconurl%>
	  <li id="node_<%$br_docs[i]->oid%>" tree-icon="<%$docicon%>">
	    <span>
	      <%if empty($br_ors[i].noLinkTo) && $actionok%>
	      <a href="#" onclick="TZR.DocumentManagement.ModalTree.select.call(TZR.DocumentManagement.ModalTree,'<%$br_docs[i]->oid%>','<%$br_docs[i]->title|escape:"html"|escape:"javascript"|replace:"&#039;":"\\'"%>');
		return false;">&nbsp;<%$br_docs[i]->title%><%if $br_docs[i]->countdocs%>#<%$br_docs[i]->countdocs%><%/if%></a>
	      <%else%>
	      &nbsp;<%$br_docs[i]->title%><%if $br_docs[i]->countdocs%>#<%$br_docs[i]->countdocs%><%/if%>
	      <%/if%>
	    </span>
	    <%if ($br_docs[i]->countdirs>0 || ($smarty.request.showfiles==1 && $br_docs[i]->countdocs>0)) && $br_ors[i].level>=$br_ors[$smarty.section.i.index_next].level && $actionok%>
	    <ul class="ajax">
	      <li>{url:"<%$self%>function=ajaxLoadDirTree&moid=<%$imod_props._moid%>&oid=<%$br_docs[i]->oid%>&showfiles=<%$smarty.request.showfiles%>&_raw=1&_silent=1",dataType:"json",callback:"showdirfolders"}</li>
	    </ul>
	    <%/if%>
	    <%if $br_ors[i].level<$br_ors[$smarty.section.i.index_next].level%><ul><%/if%>
	      <%if $br_ors[$smarty.section.i.index_next].level%>
	      <%assign var="levelNext" value=$br_ors[$smarty.section.i.index_next].level%>
       <%else%>
	      <%assign var="levelNext" value="1"%>
	      <%/if%>
	      <%math equation="x-y" x=$br_ors[i].level y=$levelNext assign="jump"%>
	      <%* si le nvx suivant n'est pas plus grand on ferme listItem *%>
	      <%if $jump>=0%></li><%/if%>
	      <%* pour chaque nvx de saut negatif on referme la liste, et le listItem si ce n'est pas le tout dernier(non ouvert au debut) *%>
	      <%if $jump>0%>
	      <%section name=foo loop=$jump%>
	    </ul>
      </li>
      <%/section%>
      <%/if%>
      <%/section%>
	</ul>
      </li>
    </ul>
  </form>
</div>
<script language="javascript" type="text/javascript">
 if (typeof(TZR.DocumentManagement) == "undefined"){
   TZR.DocumentManagement = {};
 }
 TZR.DocumentManagement.ModalTree = {
   params : {
     _move:0,
     _copy:0,
     _restore:0,
     _selected:0,
     _oid:null,
     target:null,
     formname:null,
     moid:null,
     action:null,
     selectedcb:null
   },
   
   init:function(request){ // c'est un tableau
     this.params = jQuery.extend(this.params, request[0]);
   },
   select:function(oid, title){
     if (this.params.selectedcb && typeof(this.params.selectedcb) == "function"){
       this.params.selectedcb(oid, title);
     }
   },
   selectDocument:function(oid, title){
     var target= this.params.target;
     document.getElementById(TZR.sprintf("id_%s", target)).value=oid;
     var t = document.getElementById(TZR.sprintf("id_INPUT%s", target));
     if(t.nodeName.toUpperCase()=='INPUT')
       t.value=title;
     else
       t.innerHTML=title;
     if(toshow=document.getElementById(TZR.sprintf("id_TOSHOW%s", target))){
       jQuery(toshow).show();
     }
     TZR.Dialog.closeDialog();
   }
 };
 function go_action_v8(ul,title) {
   <%if $smarty.request.action=="selectDoc"%>
   opener.document.getElementById('id_<%$smarty.request.target%>').value=ul;
   var t=opener.document.getElementById('id_INPUT<%$smarty.request.target%>');
   if(t.nodeName.toUpperCase()=='INPUT') t.value=title;
   else t.innerHTML=title;
   if(toshow=opener.document.getElementById('id_TOSHOW<%$smarty.request.target%>')){
     jQuery(toshow).show();
   }
   opener.TZR.isIdValid('id_<%$smarty.request.target|escape:javascript%>');
   <%else%>
   var f=opener.document.forms['<%$smarty.request.formname%>'];
   var next='<%$self%>&function=index&moid=<%$smarty.request.moid%>&template=Module/DocumentManagement.index2.html&tplentry=br&oid='+ul+'&clear=1';
   if(typeof(f)!="undefined"){
     f._function.value='linkTo';
     f.targetoid.value=ul;
     f._next.value=next;
     if(jQuery('#copyrights').is(':checked')) {
       jQuery(f).append("<input type='hidden' name='_copyrights' value='1'>");
     }
     f._move.value="<%$smarty.request._move%>";
     f._copy.value="<%$smarty.request._copy%>";
     if(!f.onsubmit || f.onsubmit()) f.submit();
   }else{
     opener.document.location='<%$self%>function=linkTo&moid=<%$smarty.request.moid%>&oid=<%$smarty.request.oid%>&_move=<%$smarty.request._move%>&_copy=<%$smarty.request._copy%>&_parentoid=<%$smarty.request._parentoid%>&targetoid='+ul+'&_next='+escape(next);
   }
   <%/if%>
   window.close();
 }
 
 function showdirfolders(response){
   var html;
   var dir;
   for(var i=0;i<response.directories.length;i++){
     dir=response.directories[i];
       html='<li id="node_'+dir.oid+'" tree-icon="'+dir.smalliconurl+'"><span>';
     if(dir.noLinkTo==0){
       html+='<a href="#" onclick="TZR.DocumentManagement.ModalTree.select.call(TZR.DocumentManagement.ModalTree,\''+dir.oid+'\',\''+addslashes(dir.title)+'\'); return false;">&nbsp;'+dir.title;
     }else{
       html+=dir.title;
     }
     if(dir.countdirs>0){
       html+=' #'+dir.countdirs;
     }
     if(dir.noLinkTo==0){
       html+='</a>';
     }
     html+='</span>';
     if(dir.countdirs>0<%if $smarty.request.showfiles == 1%> || dir.countdocs>0<%/if%>){
       html+='<ul class="ajax"><li>{url:"<%$self%>function=ajaxLoadDirTree&moid=<%$imod_props._moid%>&showfiles=<%$smarty.request.showfiles%>&oid='+dir.oid+'&_raw=1&_silent=1",dataType:"json",callback:"showdirfolders"}</li></ul>';
     }
     html+='</li>';
     jQuery(this).append(html);
   }
   
   for(var i=0;i<response.documents.length;i++){
     dir=response.documents[i];
     html='<li id="node_'+dir.oid+'" tree-icon="'+dir.smalliconurl+'"><span>';
     html+='<a href="#" onclick="TZR.DocumentManagement.ModalTree.select.call(TZR.DocumentManagement.ModalTree,\''+dir.oid+'\',\''+addslashes(dir.title)+'\'); return false;">&nbsp;'+dir.title+'</a></span>';
     html+='</li>';
     jQuery(this).append(html);
   }
 }
 
 function addslashes(str) {
   str=str.replace(/\\/g,'\\\\');
   str=str.replace(/\'/g,'\\\'');
   str=str.replace(/\"/g,'\\"');
   str=str.replace(/\0/g,'\\0');
   str=str.replace(/\n/g,'\\n');
   str=str.replace(/\r/g,'\\r');
   return str;
 }
 
 var simpleTreeCollection;
 jQuery(function(){
   simpleTreeCollection=jQuery(".simpleTree").simpleTree({drag:false,animate:true});
   <%if $br_oidcurrent%>
   simpleTreeCollection[0].openNode(document.getElementById('node_<%$br_oidcurrent%>'),true)
   <%/if%>
 });
</script>
