<%assign var="title" value=$syslabels.Seolan_Core_Module_Module.module_properties_text%>
<%include file="`$smarty.const.TZR_SHARE_DIR`Core.header/ajax.html"%>
<%include file="Module/Table.functions.html"%>
<fieldset><legend><%$br_display.otitle->html%></legend>
<p><%$br_display.odescr->html%></p>
   <form action="<%$self%>" method="post" enctype="multipart/form-data" name="editform<%$uniqid%>" onsubmit="return TZR.ajaxSubmitForm(this);">
<fieldset>
  <legend><%$group%></legend>
  <div class="row-striped">
    <%section name=f loop=$br_edit %>
    <%call fieldline field=$br_edit[f]%>
    <%/section%>
  </div>
</fieldset>

    <input type="hidden" name="_function" value="procNewWFCase">
    <input type="hidden" name="template" value="Core.message.html">
    <input type="hidden" name="uniqid" value="<%$uniqid%>">
    <input type="hidden" name="wfid" value="<%$smarty.request.wfid%>">
    <input type="hidden" name="tplentry" value="br">
    <input type="hidden" name="moid" value="<%$smarty.request.moid%>">
    <input type="hidden" name="oid" value="<%$smarty.request.oid%>">
    <input type="hidden" name="LANG_USER" value="<%$lang_user%>">
    <input type="hidden" name="LANG_DATA" value="<%$lang_data%>">
    <input type="hidden" name="skip" value="1">
 <div id="tzr-action<%$uniqid%>" class="tzr-action"><input type="submit" value="<%$syslabels.Seolan_Core_General.save_text%>"></div>
</form>
</fielset>
