<%include file="`$smarty.const.TZR_SHARE_DIR`Core.header/ajax.html" title=$syslabels.Seolan_Core_Module_Module.infos_text%>
<div class="cv8-contenu-center clearfix">
<fieldset>
 <legend><%$syslabels.Seolan_Core_Module_Module.infos_text%></legend>
 <div class="table-responsive">
 <table class="table table-striped cv8_tablelist list2">
  <%foreach from=$br_infos item=info key=name%>
   <tr>
    <th><label><%$info->label%></label></th>
    <td><%$info->html%><%if $name=='stats' && $br_statsmodule%><a class="cv8-ajaxlink" href="<%$self%>moid=<%$br_statsmodule%>&function=index&template=Module/BackOfficeStats.index.html&tplentry=mods&module=<%$_moid%>&ym=<%$smarty.now|date_format:"%Y-%m"%>"> (<%$syslabels.Seolan_Core_Module_Module.allstats%>)</a><%/if%></td>
   </tr>
  <%/foreach%>
 </table>
 </div>
</fieldset>
</div>