<%if $labels.tarteaucitron_title%>
<script>
  var tarteaucitronCustomText = {
    "adblock": "<%$labels.tarteaucitron_adblock%>",
    "adblock_call": "<%$labels.tarteaucitron_adblock_call%>",
    "reload": "<%$labels.tarteaucitron_reload%>",
    "alertBigScroll": "<%$labels.tarteaucitron_alertBigScroll%>",
    "alertBigClick": "<%$labels.tarteaucitron_alertBigClick%>",
    "alertBig": "<%$labels.tarteaucitron_alertBig%>",
    "alertBigPrivacy": "<%$labels.tarteaucitron_alertBigPrivacy%>",
    "alertSmall": "<%$labels.tarteaucitron_alertSmall%>",
    "acceptAll": "<%$labels.tarteaucitron_acceptAll%>",
    "personalize": "<%$labels.tarteaucitron_personalize%>",
    "close": "<%$labels.tarteaucitron_close%>",
    "privacyUrl": "<%$labels.tarteaucitron_privacyUrl%>",
    "all": "<%$labels.tarteaucitron_all%>",
    "info": "<%$labels.tarteaucitron_info%>",
    "disclaimer": "<%$labels.tarteaucitron_disclaimer%>",
    "allow": "<%$labels.tarteaucitron_allow%>",
    "deny": "<%$labels.tarteaucitron_deny%>",
    "noCookie": "<%$labels.tarteaucitron_noCookie%>",
    "useCookie": "<%$labels.tarteaucitron_useCookie%>",
    "useCookieCurrent": "<%$labels.tarteaucitron_useCookieCurrent%>",
    "useNoCookie": "<%$labels.tarteaucitron_useNoCookie%>",
    "more": "<%$labels.tarteaucitron_more%>",
    "source": "<%$labels.tarteaucitron_source%>",
    "credit": "<%$labels.tarteaucitron_credit%>",
    "noServices": "<%$labels.tarteaucitron_noServices%>",
    "toggleInfoBox": "<%$labels.tarteaucitron_toggleInfoBox%>",
    "title": "<%$labels.tarteaucitron_title%>",
    "cookieDetail": "<%$labels.tarteaucitron_cookieDetail%>",
    "ourSite": "<%$labels.tarteaucitron_ourSite%>",
    "newWindow": "<%$labels.tarteaucitron_newWindow%>",
    "allowAll": "<%$labels.tarteaucitron_allowAll%>",
    "denyAll": "<%$labels.tarteaucitron_denyAll%>",
    "fallback": "<%$labels.tarteaucitron_fallback%>",
    "ads": {
      "title": "<%$labels.tarteaucitron_ads_title%>",
      "details": "<%$labels.tarteaucitron_ads_details%>"
    },
    "analytic": {
      "title": "<%$labels.tarteaucitron_analytic_title%>",
      "details": "<%$labels.tarteaucitron_analytic_details%>"
    },
    "social": {
      "title": "<%$labels.tarteaucitron_social_title%>",
      "details": "<%$labels.tarteaucitron_social_details%>"
    },
    "video": {
      "title": "<%$labels.tarteaucitron_video_title%>",
      "details": "<%$labels.tarteaucitron_video_details%>"
    },
    "comment": {
      "title": "<%$labels.tarteaucitron_comment_title%>",
      "details": "<%$labels.tarteaucitron_comment_details%>"
    },
    "support": {
      "title": "<%$labels.tarteaucitron_support_title%>",
      "details": "<%$labels.tarteaucitron_support_details%>"
    },
    "api": {
      "title": "<%$labels.tarteaucitron_api_title%>",
      "details": "<%$labels.tarteaucitron_api_details%>"
    },
    "other": {
      "title": "<%$labels.tarteaucitron_other_title%>",
      "details": "<%$labels.tarteaucitron_other_details%>"
    }
  };
</script>
<%/if%>