<%include file="`$smarty.const.TZR_SHARE_DIR`Core.header/ajax.html" title=$syslabels.Seolan_Core_General.query_text%>
<script type="text/javascript">
 v<%$uniqid%>.tableRq=new Array();
 <%section name=fields loop=$br_fields_object %>
  v<%$uniqid%>.tableRq['<%$br_fields_object[fields]->field%>']='<%$br_fields_object[fields]->html|escape:"javascript"%>';
 <%/section%>
 v<%$uniqid%>.myaddline=function(field) {
  var t=new Array();
  t[0]='<a onclick="TZR.delLine(this);return false;"><%$syslabels.Seolan_Core_General.delete%></a>';
  t[1]='<label>'+field.options[field.selectedIndex].text+'</label>';
  t[2]=this.tableRq[field.options[field.selectedIndex].value];
  TZR.addTableLine('rq',t);
  field.selectedIndex=0;
 }
</script>
<form action="<%$self%>" method="post" name="search<%$uniqid%>" onsubmit="return TZR.ajaxSubmitForm(this);">
 <input type="hidden" name="function" value="procQuery">
 <input type="hidden" name="moid" value="<%$_moid%>">
 <input type="hidden" name="clearrequest" value="1">
 <input type="hidden" name="tplentry" value="br">
 <input type="hidden" name="template" value="Module/Media.browse.html">
 <input type="hidden" name="LANG_USER" value="<%$lang_user%>">
 <input type="hidden" name="LANG_DATA" value="<%$lang_data%>">
 <fieldset>
  <legend><%$syslabels.Seolan_Core_General.query_text%></legend>
  <div class="table-responsive">
  <table class="list2" id="rq">
   <tr>
    <td></td>
    <th><label><%$br_otype->fielddef->label%></label></th>
    <td><%$br_otype->html|replace:"<select ":"<select onchange=\"v`$uniqid`.jQueryLoad('`$self`&moid=`$_moid`&function=query&type='+this.value+'&template=Module/Media.query.html&tplentry=br&querymode=query2');\" "%></td>
   </tr>
   <%if count($br_fields_object)>1%>
    <tr>
     <td></td>
     <th><label><%$syslabels.Seolan_Core_General.query_text%></label></th>
     <td>
       <div class="radio"><label><input type="radio" class="radio" name="operator" value="AND" <%if $br_operator eq "AND"%>checked<%/if%>> <%$syslabels.Seolan_Core_General.and%></label></div>
       <div class="radio"><label><input type="radio" class="radio" name="operator" value="OR" <%if $br_operator eq "OR"%>checked<%/if%>> <%$syslabels.Seolan_Core_General.or%></label></div>
     </td>
    </tr>
    <tr>
     <td></td>
     <th><label><%$syslabels.Seolan_Module_Table_Table.selectafield%></label></th>
     <td>
      <select name="champs" onchange="v<%$uniqid%>.myaddline(this);">
       <option value="">--</option>
       <%section name=fields loop=$br_fields_object%>
	<%if $br_fields_object[fields]->html && $br_fields_object[fields]->field!='type'%>
	 <option value="<%$br_fields_object[fields]->field%>"><%$br_fields_object[fields]->fielddef->label%></option>
	<%/if%>
       <%/section%>
      </select>
     </td>
    </tr>
   <%/if%>
   <tr><td></td><td></td><td></td></tr>
  </table>
  </div>
 </fieldset>
 
 <%if $imod_props.stored_query && $modsec_mods[$_moid].rw%>
  <fieldset>
   <legend>Actions</legend>
   <div class="table-responsive">
   <table class="list2">
    <tr>
     <th><label><%$syslabels.Seolan_Module_Table_Table.storequery%></label></th>
     <td><input type="text" value="" name="_storename"></td>
    </tr>
    <tr>
     <th><label><%$syslabels.Seolan_Core_General.group%></label></th>
     <td><input type="text" value="" name="_storegroup"></td>
    </tr>
   </table>
   </div>
  </fieldset>
 <%/if%>
 <div id="tzr-action<%$uniqid%>" class="tzr-action"><input type="submit" value="<%$syslabels.Seolan_Core_General.query_text%>"></div>
</form>

<%if $queries_lines_oid %>
 <a name="storedqueries<%$uniqid%>"></a>
 <fieldset>
  <legend><%$syslabels.Seolan_Module_Table_Table.stored_query%></legend>
  <div class="table-responsive">
  <table class="list2">
   <%section name=i loop=$queries_lines_oid%>
    <%if $queries_lines_ogrp[i]->html!=$queries_lines_ogrp[$smarty.section.i.index_prev]->html%>
     <tr><td><label><%$queries_lines_ogrp[i]->html%></label></td><td colspan="10"></td></tr>
    <%/if%>
    <tr>
     <td>
      <a class="cv8-ajaxlink" href="<%$self%>&function=procQuery&moid=<%$_moid%>&template=Module/Media.browse.html&_storedquery=<%$queries_lines_oid[i]%>&tplentry=br"><%$queries_lines_otitle[i]->html%></a>
     </td>
     <td><%$queries_lines_orem[i]->html%></td>
     <td>
      <a class="cv8-ajaxlink" href="<%$self%>&function=procQuery&moid=<%$_moid%>&template=Module/Media.browse.html&_storedquery=<%$queries_lines_oid[i]%>&tplentry=br"><%$syslabels.Seolan_Core_General.view%></a>
      <%if $modsec_mods[$_moid].rw%>
       <a class="cv8-ajaxlink" href="<%$self%>&template=Module/Media.browse.html&_function=delStoredQuery&moid=<%$_moid%>&oidr=<%$queries_lines_oid[i]%>&_next=<%$here|escape:"url"%>&tplentry=br"><%$syslabels.Seolan_Core_General.delete%></a>
      <%/if%>
     </td>
    </tr>
   <%/section%>
  </table>
  </div>
 </fieldset>
<%/if%>
