.nyroModalBg {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.7;
	z-index:1500;

}
.nmReposition {
	position: absolute;
}
.nyroModalCloseButton {
    top: -28px;
    right: -24px;
    width: 24px;
    height: 28px;
}
.nyroModalTitle {
	top: -26px;
	left: 0;
	margin: 0;
    font-size: 1.1em;
	color: #ddd;
}
.nyroModalCont {
	position: absolute;
	border: 4px solid #777;
	margin: 25px;
	background: #fff;
}
.nyroModalCont iframe {
	width: 600px;
	height: 400px;
}
.nyroModalError {
	border: 4px solid red;
	color: red;
	width: 250px;
	height: 250px;
}
.nyroModalError div {
	min-width: 0;
	min-height: 0;
	padding: 10px;
}
.nyroModalLink, .nyroModalDom, .nyroModalForm, .nyroModalFormFile {
	position: relative;
	padding: 10px;
	min-height: 250px;
	min-width: 250px;
	max-width: 1000px;
}
.nyroModalImage, .nyroModalSwf, .nyroModalIframe, .nyroModalIframeForm {
	position: relative;
	overflow: hidden;
}
.nyroModalImage img {
    vertical-align: top;
}
.nyroModalHidden {
	left: -9999em;
	top: -9999em;
}
.nyroModalLoad {
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff url(../img/ajaxLoader.gif) no-repeat center;
	padding: 0;
}
.nyroModalPrev, .nyroModalNext {
	outline: none;
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
	min-height: 50px;
	max-height: 300px;
	cursor: pointer;
	background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat;
	padding-top:50%;
	display:none;
}
.nyroModalImage .nyroModalPrev, .nyroModalImage .nyroModalNext {
	max-height: none;
}
.nyroModalPrev {
	left: 0;
	background-position: left  50%;
	text-align:left;
}
.nyroModalNext {
	right: 0;
	background-position: right 50%;
	text-align:right;

}


.nyroModalCont {
    border: 4px solid #fff;
}
.nyroModalCont, .nyroModalImg, .nyroModalBg {
    z-index: 9998;
}
.nyroModalClose {
    z-index: 9999;
}

div.nyroModalCont{
  height:auto!important;
}
