<!--  <%$smarty.template%> Google login -->
<div id="<%$dir.id%>loginbutton<%$extraId%>" class="network-login network-login-google" data-form="<%$formname%>">
  <button class="btn btn-default">
    <span><%label t="Connectez-vous avec"%> <span><%label t=$dir.button_label%></span></span>
    <span class="glyphicon csico-google"></span>
  </button>
</div>

<script>
 if (typeof(TZR) == "undefined")
   var TZR = {};
 function googleInit(){
   TZR.gapAuthClientInit(false);
   TZR.gapSignIn.call(TZR);
 }
 TZR.gapAuthClientId="<%$dir.client_id%>";
 TZR.gapAuthClient=null;
 TZR.gapForm=null;
 TZR.gapAuthClientInit = function(signIn){
   gapi.load('auth2', function() {
     <%* TZR.gapAuthClient = *%>
     gapi.auth2.init({
       client_id:TZR.gapAuthClientId
       ,cookiepolicy: 'single_host_origin'
       ,scope:'<%$dir.scope%>'
     }).then(function(client){
       TZR.gapAuthClient = client;
       if (signIn)
	 TZR.gapSignIn.call(TZR);
     },function(res){
       try{
         console.log('============= error in client init =================');
	 console.log(res);
	 console.log('=============================== =================');
       }catch(e){}
        alert('Service indisponible');
     });
   });
 };
 TZR.gapSignInOK = function(gUser){
   if (TZR.gapForm == null) { // autre script
     return;
   }
   TZR.gapForm.elements['login'].value = '';
   TZR.gapForm.elements['password'].value = '';
   TZR.gapForm.elements['oauth[directoryid]'].value="<%$dir.id%>";
   TZR.gapForm.elements['oauth[<%$dir.id%>][idtoken]'].value=gUser.getAuthResponse().id_token;
   TZR.gapForm.submit();
 };
 TZR.gapSignInKO = function(obj){
   console.log('============ erreur/annulation google login =================');
 };
 TZR.gapSignIn = function(){
   if (TZR.gapAuthClient == null)
     TZR.gapAuthClientInit(true);
   else {
     var signOptions = new gapi.auth2.SigninOptionsBuilder();
     var prompts = "<%$dir.prompt%>".split(" ");
     for(var i in prompts)
       signOptions.setPrompt(prompts[i]);

     TZR.gapAuthClient.signIn().then(
       function(gUser){
	 TZR.gapSignInOK.call(TZR,gUser);
       }, 
       function(res){
	 TZR.gapSignInKO.call(TZR,res);
       }
     );
   }
 };
 TZR.gapClickListener = function(){
  TZR.gapForm = document.forms[this.dataset.form];
  if (window.gapi == undefined) {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "https://apis.google.com/js/client:platform.js?onload=googleInit";
    document.body.appendChild(script);
  } else {
    TZR.gapSignIn.call(TZR);
  }
 };
 
 if (typeof tarteaucitron === "undefined") {
    document.getElementById("<%$dir.id%>loginbutton<%$extraId%>").addEventListener('click', TZR.gapClickListener);
 } else {
    tarteaucitron.services.googleoauth = {
      "key": "googleoauth",
      "type": "api",
      "name": "Google oAuth",
      "needConsent": true,
      "cookies": ['1P_JAR', 'CONSENT', 'NID'],
      "js": function () {
        "use strict";
        tarteaucitron.fallback(['network-login-google'], '\
  <span class="glyphicon csico-google"></span>\
  <span class="buttonText"><%label t="Connectez-vous avec"%> <span><%label t=$dir.button_label%></span></span>');
        var buttons = document.getElementsByClassName('network-login-google');
        for (var i=0; i<buttons.length; i++) {
          buttons[i].addEventListener('click', TZR.gapClickListener);
        }
      },
      "fallback": function () {
        "use strict";
        tarteaucitron.fallback(['network-login-google'], tarteaucitron.engage('googleoauth'));
      }
    };
    (tarteaucitron.job = tarteaucitron.job || []).push('googleoauth');
  }
</script>
