<!--<%$smarty.template%>-->
<div id="cv3-footer-links"  class="cv3-block">
<a href="#footer-links" class="link_toggle hidden-desktop" data-toggle="collapse">Liens rapides</a>
<h4 class="hidden-phone hidden-tablet">Liens rapides</h4>
	<div id="footer-links" class="collapse">
		<div class="middle">
			<ul>
				<li><h5>Nos vieux</h5></li>
				<li><a href="#">Forum</a></li>
				<li><a href="#">Help installing fonts</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
			
			<ul>
				<li><h5>Nos pauvres</h5></li>
				<li><a href="#">Newly Discovered Fonts</a></li>
				<li><a href="#">Most Popular Fonts</a></li>
				<li><a href="#">Foundries</a></li>
				<li><a href="#">Frequently Asked Questions</a></li>
				<li><a href="#">Forum</a></li>
				<li><a href="#">Help installing fonts</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
			
			<ul>
				<li><h5>Nos riches</h5></li>
				<li><a href="#">Frequently Asked Questions</a></li>
				<li><a href="#">Forum</a></li>
				<li><a href="#">Help installing fonts</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
			
			<ul>
				<li><h5>Notre hospice</h5></li>
				<li><a href="#">Newly Discovered Fonts</a></li>
				<li><a href="#">Most Popular Fonts</a></li>
				<li><a href="#">Foundries</a></li>
				<li><a href="#">Frequently Asked Questions</a></li>
				<li><a href="#">Forum</a></li>
				<li><a href="#">Help installing fonts</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
			
		</div>
		<div class="link"><a href="#">Tous les liens</a></div>
	</div>
</div>
