<!--<%$smarty.template%>-->
<div id="cv3-mediatheque" class="cv3-block">
	<a class="link_toggle" data-toggle="collapse" data-parent="#cv3-mediatheque" href="#mediatheque"><%$labels.media_linkMobile%></a>
	<h4><%$labels.media_desktopTitle%></h4>
	<div id="mediatheque" class="collapse">
		<div class="middle">
			<div class="item">
			  <a class="nyro" rel="cv8d-browsemedia-imagelist-0" href="/index.php?&moid=40&function=displayMedia&oid=T009:4vcidqlfi170&template=Module/Media.viewMedia.html&tplentry=br&skip=1&_raw=2&_ajax=1" title=" calibrage ancien19_12">
<img class="tzr-image" title="" alt="" src="/tzr/scripts/resizer.php?filename=T009/media/cb/3f/4vcidqlfi170&mime=image%2Fjpeg&&originalname=media_07.jpg&geometry=106x106%3E">
</a>
				<span class="cv8d-field-title"> calibrage ancien19_12</span>
			</div>

			<div class="item">
			  <a class="nyro" rel="cv8d-browsemedia-imagelist-0" href="/index.php?&moid=40&function=displayMedia&oid=T009:4vcieh521aun&template=Module/Media.viewMedia.html&tplentry=br&skip=1&_raw=2&_ajax=1" title=" Trens roxas eis ti Plok eing quert loppe eis yop prexs. Piy opher hawers, eit yaggles orn ti sumbloat alohe plok. Cheval_et_Tour_07-2007_006">
<img class="tzr-image" title="" alt="" src="/tzr/scripts/resizer.php?filename=T009/media/60/21/4vcieh521aun&mime=image%2Fjpeg&&originalname=media_06.jpg&geometry=106x106%3E">
</a>
			  <span class="cv8d-field-title"> Trens roxas eis ti Plok eing quert loppe eis yop prexs. Piy opher hawers, eit yaggles orn ti sumbloat alohe plok. Cheval_et_Tour_07-2007_006</span>
			</div>
		</div>
		<div class="link"><a href="<%$self%>alias=<%$tzr.mediaAlias%>"><%$labels.media_linkMore%></a></div>
	</div><!-- fin mediatheque -->
</div><!-- fin cv3-mediatheque -->
