<!--<%$smarty.template%>-->
<%if $charte_ologlg->html || $charte_ologtxt->html%>
<div class="navbar-brand" role="banner">
  <a href="<%$self%>alias=<%$application->infotreehome%>">
  <span class="logo visible-xs"><%$charte_ologxs->html%></span>
  <span class="logo visible-sm"><%$charte_ologsm->html%></span>
  <span class="logo visible-md"><%$charte_ologmd->html%></span>
  <span class="logo visible-lg"><%$charte_ologlg->html%></span>
  <span class="slogan"><%$charte_ologtxt->html%></span></a>
</div>
<%/if%>

