<!--<%$smarty.template%>-->
<%if $ip_lines_oid[0]%>
<%assign var="id" value=""|uniqid%>
<div id="cv3-news" class="cv3-block">
  <a class="link_toggle" data-toggle="collapse" data-parent="#cv3-news" href="#news<%$id%>"><%$labels.news_title%></a>
  <h4><%$labels.news_title%></h4>
  <div id="news<%$id%>" class="collapse">
    <div class="middle">
      <%section name=ip loop=$ip_lines_oid%>
        <div class="item">
          <%if $ip_lines_oF0003[ip]->html && $ip_lines_olink[ip]->url%>
            <a href="<%$ip_lines_olink[ip]->url%>" target="<%$ip_lines_olink[ip]->target%>" title="<%$ip_lines_olink[ip]->toText()|escape:"html"%>">
              <img class="img-responsive" src="<%$ip_lines_oF0003[ip]->resizer%>&geometry=<%if $charte_oipgeo->raw%><%$charte_oipgeo->raw%><%elseif $tzr.ipgeo%><%$tzr.ipgeo%><%else%>166x%3E<%/if%>" alt="<%$ip_lines_oF0003[ip]->title|escape:"html"%>">
            </a>
          <%elseif $ip_lines_oF0003[ip]->html%>
            <img class="img-responsive" src="<%$ip_lines_oF0003[ip]->resizer%>&geometry=<%if $charte_oipgeo->raw%><%$charte_oipgeo->raw%><%elseif $tzr.ipgeo%><%$tzr.ipgeo%><%else%>166x%3E<%/if%>" alt="<%$ip_lines_oF0003[ip]->title|escape:"html"%>">
          <%/if%>	
          <%if $ip_lines_oF0001[ip]->html%><h5><%$ip_lines_oF0001[ip]->html%></h5><%/if%>
          <%if $ip_lines_oF0002[ip]->html%><%$ip_lines_oF0002[ip]->html%><%/if%>
        </div>
        <%if !$smarty.section.ip.last || !empty($iph_lines_oid)%><div class="separator"></div><%/if%>
      <%/section%>
    </div>
    <%if $tzr.corailv3_news_alias%><div class="link"><a href="<%$self%>&alias=<%$tzr.corailv3_news_alias%>"><%$labels.news_linkMore%></a></div><%/if%>
  </div><!-- news -->
</div><!-- fin cv3-news -->
<%/if%>