<!--<%$smarty.template%>-->
<%if $tzr.corailv3_photorslt%>
<div id="cv3-photoSearch" class="cv3-block">
  <a class="link_toggle" data-toggle="collapse" data-parent="#cv3-photoSearch" href="#photoSearch">Chercher une photo</a>
  <h4>Chercher une photo</h4>
  <div id="photoSearch" class="collapse">
    <div class="middle">
      <%if $tzr.corailv3_photofulltext%>
      <form name="phformkw" class="moduleRechercheRapide" action="<%$self%>" method="post" onsubmit="checkFields(this);">
        <input type="hidden" name="alias" value="<%$tzr.corailv3_photorslt%>">
        <input type="hidden" name="fulltext" value="1">
        <input type="text" name="keyword">
        <script type="text/javascript">inputInit(document.phformkw.keyword,"<%$labels.photo_keyword%>");</script>
        <input class="btn" name="search" type="submit" value="Ok">
      </form>
    <%/if%>
    <%if $tzr.corailv3_photoquery%>
      <form name="phform" class="moduleRechercheRapide" action="<%$self%>" method="post" onsubmit="checkFields(this);">
        <input type="hidden" name="alias" value="<%$tzr.corailv3_photorslt%>">
        <%section name=f loop=$ph_fields_object%>
        <%$ph_fields_object[f]->html%>
        <script type="text/javascript">inputInit(document.phform.<%$ph_fields_object[f]->field%>,"<%$ph_fields_object[f]->fielddef->label%>");</script>
        <%/section%>
        <input class="btn" name="search" type="submit" value="Ok">
        <%if $tzr.corailv3_photoadvsearch%><a href="<%$self%>alias=<%$tzr.corailv3_photoadvsearch%>"><%$labels.photo_advsearch%></a><%/if%>
      </form>
      <%/if%>
    </div>
    <div class="link"><a href="#">Voir toutes les photos</a></div>
  </div><!-- photoSearch -->
</div><!-- fin cv3-photoSearch -->
<%/if%>
