<!--<%$smarty.template%>-->
<%if $tzr.CorailNewsLetter%>
<%assign var="id" value=""|uniqid%>
<div id="cv3-newsletter" class="cv3-block">
  <a class="link_toggle" data-toggle="collapse" data-parent="#cv3-newsletter" href="#newsletter<%$id%>"><%$labels.newsletter_title%></a>
  <h4><%$labels.newsletter_title%></h4>
  <div id="newsletter<%$id%>" class="collapse">
    <div class="middle">
      <div class="item">
        <%if $labels.newsletter_info%><p id="infonewsletter"><%$labels.newsletter_info|default:"Newsletter"%></p><%/if%>
        <form id="newsletter_subscribe_form<%$form_id_suffix%><%$id%>" name="newsletterform" action="<%$self%>" method="post" onsubmit="TZR.isFormValidWithFocus(this,true);" >
          <input type="hidden" name="moid" value="<%$tzr.CorailNewsLetter%>">
          <input type="hidden" name="_function" value="subscribe">
          <input type="hidden" name="_next" value="alias=newsletter_ok">
          <input type="hidden" name="LANGUSER" value="<%$lang_data%>">
          <input name="email" type="text" id="emailaddress<%$id%>" placeholder="<%$labels.youremail%>"/>
          <%if $frmnewsletter_captcha%><p><%$frmnewsletter_captcha.label%></p><%$frmnewsletter_captcha.html%></p><%/if%>
          <%if $frmnewsletter_honeypot%><%$frmnewsletter_honeypot%><%/if%>
          <input class="btn" type="submit" name="button" value="<%$labels.subscribe%>" />
          <ul>
            <li><a href="#" onclick="if(document.getElementById('emailaddress<%$id%>').value) {document.getElementById('newsletter_subscribe_form<%$form_id_suffix%><%$id%>')._function.value='unsubscribe';document.getElementById('newsletter_subscribe_form<%$form_id_suffix%><%$id%>').submit();} return false;"><%$labels.unsubscribe%></a></li>
          </ul>
        </form>
      </div>
    </div>
    <%if $tzr.corailv3_newsletter_alias%>
      <div class="link"><a href="<%$self%>alias=<%$tzr.corailv3_newsletter_alias%>">
        <%$labels.newsletter_linkMore|default:"Toutes les lettres d'information"%>
      </a></div>
    <%/if%>
  </div><!-- fin newsletter -->
</div><!-- fin cv3-newsletter -->
<%/if%>