

body {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	color: #555555;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

.body {
	background-color: #f0f0f0;
}

a,
table a,
p a {
	font-family: helvetica, arial, sans-serif;
	color: #cc0033;
	text-decoration: underline;
}

a:visited {
	color: #cc0033;
}

a:hover {
	color: #555555;
}


h1 {
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	color: #555555;
	margin: 0 20px 15px 20px;
	padding: 0 0 8px 0;
	border-bottom: 1px solid #d9d9d9;
}


h2 {
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	color: #cc0033;
	margin: 0 20px 10px 20px;
	padding: 0;
}

h3 {
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	color: #555555;
	margin: 20px 0 10px 20px;
	padding: 0;
}

h4 {
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	color: #cc0033;
	margin: 20px 0 10px 20px;
	padding: 0;
	
}

h5 {
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	color: #555555;
	margin: 0 20px 5px 20px;
	padding: 0;
}

h6 {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	color: #cc0033;
	margin: 0 20px 5px 20px;
	padding: 0;
}

p {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	padding: 0;
	margin: 0 20px 15px 20px;
}

ul {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	list-style-image: none;
	list-style-type: square;
	line-height: 17px;
	margin: 0 20px 15px 35px;
	padding: 0;
}

ul li {
	padding: 0 0 5px 0;
}

ul ul {
	margin: 5px 20px 0 25px;
	padding: 0;
}

table {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}


.btn {
	display: inline-block;
	font-size: 14px;
	white-space: nowrap;
}

.btn a {
	display: block;
	font-family: helvetica, arial, sans-serif !important;
	font-weight: bold;
	text-decoration: none;
	border: 24px solid #cccccc;
}

.btn-default a {
	color: #333;
	background-color: #f4f4f4;
	border-color: #f4f4f4;
}

.btn-primary a {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}

.btn-info a {
	color: #fff;
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.btn-viewer {
	display: none;
}


.legende {
	font-style: italic;
	color: #cc0033;
}

.extra-text {
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
	border: 24px solid #ff9933;
	background-color: #ff9933;
}

.extra-text {
	color: #ffffff;
}

.extra-text a {
	color: #ffffff;
}


.nl-2-columns {
	background-color: #ffffff;
}

.nl-2-columns .nl-2-columns-img {}

.nl-2-columns .nl-2-columns-text {}

.nl-3-columns {
	background-color: #f4f4f4;
}

.nl-3-columns .nl-3-columns-img {}

.nl-3-columns .nl-3-columns-text {}

.nl-text-only {
	background-color: #ffffff;
}

.nl-image-large {
	background-color: #ffffff;
}

.nl-image-large div {
	margin-left: 20px;
	margin-right: 20px;
}

.nl-4-images {
	background-color: #ffffff;
}

.nl-download {
	background-color: #ffffff;
}

.nl-download td.content {
	background-color: #f4f4f4;
}

.nl-download div {
	margin-left: 20px;
	margin-right: 20px;
}

.nl-image-text {
	background-color: #ffffff;
}

.nl-separator {
	background-color: #ffffff;
}

.nl-text-image {
	background-color: #ffffff;
}

.nl-highlight {
	background-color: #cc0033;
}

.nl-highlight p,
.nl-highlight ol,
.nl-highlight ul,
.nl-highlight a,
.nl-highlight table a,
.nl-highlight p a,
.nl-highlight h1, .nl-highlight h2, .nl-highlight h3, .nl-highlight h4, .nl-highlight h5, .nl-highlight h6 {
	color: #ffffff;
}

.nl-highlight h1 {
	border-color: #ffffff;
}







.nl-tab-lien {
	background-color: #f0f0f0;
}

.nl-tab-lien p {
	font-size: 11px;
	color: #515151;
	text-align: right;
	margin: 10px 20px 15px 20px;
}

.nl-tab-lien a {
	color: #515151;
}

.nl-tab-bandeau {
	background-color: #f0f0f0;
}

.nl-tab-bandeau img {
	margin-bottom: -4px;
}



.nl-tab-title {
	background-color: #ffffff;
}

.nl-tab-title img {
	margin-top: -4px;
}

.nl-tab-title td.content {
	background-color: #f0f0f0;
}

.nl-tab-title td.content div {
	font-size: 14px;
	font-weight: bold;
	color: #515151;
	margin: 0 20px 0 20px;
}



.nl-tab-bottom {
	background-color: #f0f0f0;
}

.nl-tab-bottom td.content {
	background-color: #f0f0f0;
}

.nl-tab-bottom div {
	font-weight: bold;
	color: #515151;
}

.nl-tab-bottom a {
	color: #515151;
	text-decoration: none;
}

.nl-tab-bottom div {
	margin-left: 20px;
	margin-right: 20px;
}



