#style-editor{
    z-index:999999999999999;
    display:none;
    position:absolute;
    padding-right:15px;
}

#style-editor nav ul>li{
    display:inline;
}


.see-under-the-hood{
    border:1px solid rgb(244, 170, 86);
    margin:12px;
    position:relative;
}

.see-under-the-hood .xetag{
    position:absolute;
    top:-18px;
    line-height:1em;
    left:0px;
    font-size:10px;
    padding:5px;
    color:black;
    background-color:rgb(244, 170, 86);
    border:1px solid black;
}

.xehighlight{
    border:1px solid red;
    padding:5px;
}

.cke_top {
  border-bottom: 1px solid #b6b6b6;
  padding: 6px 8px 2px;
  white-space: normal;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  background: #cfd1cf;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#cfd1cf));
  background-image: -moz-linear-gradient(top,#f5f5f5,#cfd1cf);
  background-image: -webkit-linear-gradient(top,#f5f5f5,#cfd1cf);
  background-image: -o-linear-gradient(top,#f5f5f5,#cfd1cf);
  background-image: -ms-linear-gradient(top,#f5f5f5,#cfd1cf);
  background-image: linear-gradient(top,#f5f5f5,#cfd1cf);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#f5f5f5',endColorstr='#cfd1cf');
}

.cke_button_icon {
  cursor: inherit;
  background-repeat: no-repeat;
  margin-top: 3px;
  width: 16px;
  height: 16px;
  float: left;
  display: inline-block;
  background-color: transparent;
  border: none;
}

.cke_button__bold_icon{  
  background: url(images/icons.png) no-repeat 0 -24px!important;
  background-size: auto;
}

.cke_button__italic_icon{  
  background: url(images/icons.png) no-repeat 0 -48px!important;
  background-size: auto;
}
.cke_button__strike_icon{  
  background: url(images/icons.png) no-repeat  0 -72px!important;
  background-size: auto;
}
.cke_button__underline_icon{  
  background: url(images/icons.png) no-repeat  0 -144px!important;
  background-size: auto;
}
.cke_button__textcolor_icon {
  background: url(images/icons.png) no-repeat 0 -432px!important;
  padding-left: 15px;
}
.cke_button__bgcolor_icon {
  background: url(images/icons.png) no-repeat 0 -408px!important;
  padding-left: 15px;
}

.cke_button__removeformat_icon {
    background: url(images/icons.png) no-repeat 0 -1729px!important;
    background-size: auto;
}

.cke_button__showdiv_icon {
    background: url(images/icons.png) no-repeat 0 -456px!important;
    background-size: auto;
}

.cke_button__extractcss_icon {
    background: url(images/icons.png) no-repeat 0 -1753px!important;
    background-size: auto;
}

.cke_button__element_icon{
    background: url(images/icons.png) no-repeat 0 -1800px!important;
    background-size: auto;
}

.cke_button__relative_icon{
    background: url(images/icons.png) no-repeat 0 -673px!important;
    background-size: auto;
}

.cke_button__block_icon{
    background: url(images/icons.png) no-repeat 0 -1633px!important;
    background-size: auto;
}

.cke_button__close_icon {
    background: url(images/icons.png) no-repeat 0 -2254px!important;
    background-size: auto;
}

.cke_button__alignLeft_icon{
    background: url(images/icons.png) no-repeat 0 -1129px!important;
    background-size: auto;
}

.cke_button__alignCenter_icon{
    background: url(images/icons.png) no-repeat 0 -1105px!important;
    background-size: auto;
}

.cke_button__alignRight_icon{
    background: url(images/icons.png) no-repeat 0 -1153px!important;
    background-size: auto;
}

.cke_button__alignJustify_icon{
    background: url(images/icons.png) no-repeat 0 -1081px!important;
    background-size: auto;
}

.cke_button__paddingLeft_icon{
    background: url(images/icons.png) no-repeat 0 -1033px!important;
    background-size: auto;
}

.cke_toolbar_break {
    display: block;
    clear: left;
}

.cke_toolbar_separator {
    float: left;
    background-color: #c0c0c0;
    background-color: rgba(0,0,0,.2);
    margin: 5px 2px 0;
    height: 18px;
    width: 1px;
    box-shadow: 1px 0 1px rgba(255,255,255,.5);
}

.cke_top {
    display: block;
    border-bottom: 1px solid #b6b6b6;
    padding: 6px 8px 2px;
    white-space: normal;
    box-shadow: 0 1px 0 #fff inset;
    background: #cfd1cf;
    background-image: linear-gradient(to bottom,#f5f5f5,#cfd1cf);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#f5f5f5',endColorstr='#cfd1cf');
}

.cke_toolgroup {
  float: left;
  margin: 0 6px 5px 0;
  border: 1px solid #a6a6a6;
  border-bottom-color: #979797;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.5),0 0 2px rgba(255,255,255,.15) inset,0 1px 0 rgba(255,255,255,.15) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5),0 0 2px rgba(255,255,255,.15) inset,0 1px 0 rgba(255,255,255,.15) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.5),0 0 2px rgba(255,255,255,.15) inset,0 1px 0 rgba(255,255,255,.15) inset;
  background: #e4e4e4;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e4e4e4));
  background-image: -moz-linear-gradient(top,#fff,#e4e4e4);
  background-image: -webkit-linear-gradient(top,#fff,#e4e4e4);
  background-image: -o-linear-gradient(top,#fff,#e4e4e4);
  background-image: -ms-linear-gradient(top,#fff,#e4e4e4);
  background-image: linear-gradient(top,#fff,#e4e4e4);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#ffffff',endColorstr='#e4e4e4');
}
.cke_button {
  background-color:transparent !important;
  display: inline-block;
  height: 30px;
  padding: 4px 6px;
  outline: 0;
  cursor: default;
  float: left;
  border: 0;
}

.cke_button_on {
    box-shadow: 0 1px 5px rgba(0,0,0,.6) inset,0 1px 0 rgba(0,0,0,.2);
    background: #b5b5b5;
    background-image: linear-gradient(to bottom,#aaa,#cacaca);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#aaaaaa',endColorstr='#cacaca');
}

a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active, a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active {
  -moz-box-shadow: 0 0 1px rgba(0,0,0,.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.3) inset;
  box-shadow: 0 0 1px rgba(0,0,0,.3) inset;
  background: #ccc;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#ccc));
  background-image: -moz-linear-gradient(top,#f2f2f2,#ccc);
  background-image: -webkit-linear-gradient(top,#f2f2f2,#ccc);
  background-image: -o-linear-gradient(top,#f2f2f2,#ccc);
  background-image: -ms-linear-gradient(top,#f2f2f2,#ccc);
  background-image: linear-gradient(top,#f2f2f2,#ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#f2f2f2',endColorstr='#cccccc');
}

#dnd_dragdrop{
	border: 1px solid #e5e5e5;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	clear:both;
	min-height: 380px;
	background: #fff;
	padding-bottom: 40px;
	position: relative;
}

.dd_dnd_tools_expand #wp-content-editor-tools{
	position: relative !important;
	top: 0 !important;
	border-bottom: none !important;
}

.dd_dnd_tools_expand #wp-content-wrap{
	padding-top: 0px !important;
}

.dd_dnd_tools_expand #post-status-info{
	position: static !important;
	border-top: none !important;
}

.branch-3-6 #dnd_dragdrop,
.branch-3-7 #dnd_dragdrop {
	clear:none;
}

.dd_switch_editor{
	background: #ebebeb;
	border: 1px solid #dedede;
	color: #777;
	cursor: pointer;
	float: right;
	font: 13px/19px "Open Sans",sans-serif;
	height: 19px;
	margin: 25px 0 0 5px;
	padding: 3px 8px 4px;
	position: relative;
	top: 1px;
	z-index: 1;
}

.dd_switch_editor:hover{
	background: #fff;
}

.dd_switch_editor.switch-dd{
	background: #f5f5f5;
	color: #555;
	height: 20px;
	border-bottom: none;
}

#dnd_tools{
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom: 1px solid #e5e5e5;
	padding: 3px 8px 3px 3px;
	min-height: 29px;
	background: #f5f5f5;
	margin-bottom: 20px;
}

.dnd_button{
	font-size: 12px;
	text-shadow: none;
	height: 26px;
	line-height: 12px;
	margin: 2px;
	color: #555;
	background: #f7f7f7;
	-webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	cursor: pointer;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	outline:none;
}

.dnd_button:hover{
	border: 1px solid #999;
}

#dnd_dragdrop_empty{
	text-align: center;
	padding-top: 40px;
}

#dnd_dragdrop_empty a{
	cursor: pointer;
	display: inline-block;
	margin: 10px 0;
}

#dnd_dragdrop_empty select{
	cursor: pointer;
	margin: 10px 0;
}

#dnd_dragdrop_empty .dnd_loader{
	width: 100%;
	height: 30px;
	margin-top: 20px;
	background: url('images/loader.gif') no-repeat 50% 50%;
	display: inline-block;
}

#dnd_add_section,
#dnd_layout_save,
#dnd_layout_delete{
	cursor: pointer;
}

#dnd_add_section_bottom{
	cursor: pointer;
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	text-align: center;
	outline: none;
}


#dnd_content-dd.active{
	border-color: #e5e5e5 #e5e5e5 #f4f4f4;
	background-color: #f4f4f4;
	color: #555;
}

.dnd_content_section{
	padding: 20px 10px;
	margin: 0 30px 50px 30px;
	border: 2px dashed #e5e5e5;
	border-radius: 10px;
	min-height: 20px;
	position: relative;
	background: #f8f8f8;
}

.dnd_section_title{
	position: relative;
	text-align: center;
	width: 100%;
	top: 0;
	top: -5px;
	margin-bottom: 15px;
	font-size: 16px;
	cursor: default;
}

.dnd_content_section:before,
.dnd_content_section:after { 
	content: "";
	display: table;
}

.dnd_content_section:after { 
	clear: both;
}


.dnd_column{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	min-height: 20px;
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 30px;
}


.dnd_column p{
	margin: 0;
	text-align: center;
	color: #aaa;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.dnd_section_handler{
	display: block;
	height: 15px;
	width: 21px;
	background: url("images/handler.png");
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: -9px;
	cursor: move;
}

.dnd_section_delete,
.dnd_section_duplicate,
.dnd_section_edit{
	display: block;
	height: 12px;
	width: 12px;
	background: url("images/delete.png");
	position: absolute;
	top: -6px;
	right: -6px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 400ms;
	-webkit-transition: opacity 400ms;
}

.dnd_section_duplicate{
	background: url("images/duplicate.png");
	top: 18px;
}

.dnd_section_edit{
	background: url("images/settings.png");
	top: 40px;
}

.dnd_content_section:hover .dnd_section_delete,
.dnd_content_section:hover .dnd_section_duplicate,
.dnd_content_section:hover .dnd_section_edit{
	opacity: 1;
	transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
}

.dnd_add_element{
	display: inline-block;
	height: 12px;
	width: 12px;
	cursor: pointer;	
	background: url("images/add.png");
	position: absolute;
	left: 50%;
	margin-left: -18px;
	bottom: 20px;
}

.dnd_column_edit{
	display: inline-block;
	height: 12px;
	width: 12px;
	cursor: pointer;	
	background: url("images/settings.png");
	position: absolute;
	left: 50%;
	margin-left: 6px;
	bottom: 20px;
}

.dnd_add_column,
.dnd_remove_column{
	display: inline-block;
	height: 32px;
	width: 32px;
	cursor: pointer;
}

.dnd_add_column{
	background: url("images/add.png") no-repeat center bottom;
	position: absolute;
	left: 50%;
	margin-left: 6px;
	bottom: -20px;
	opacity: 0;
	transition: opacity 400ms;
	-webkit-transition: opacity 400ms;
}

.dnd_remove_column{
	background: url("images/remove.png") no-repeat center bottom;
	position: absolute;
	left: 50%;
	margin-left: -48px;
	bottom: -20px;
	opacity: 0;
	transition: opacity 400ms;
	-webkit-transition: opacity 400ms;
}

.dnd_content_section:hover .dnd_add_column,
.dnd_content_section:hover .dnd_remove_column{
	opacity: 1;
	transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
}

.dnd_add_column.dnd_disabled{
	background: url("images/add_disabled.png") no-repeat center bottom;
	cursor: default;
}

.dnd_remove_column.dnd_disabled{
	background: url("images/remove_disabled.png") no-repeat center bottom;
	cursor: default;
}

.ui-resizable-e{
	background: url("images/column_bg_delimiter.png")  top center repeat-y;
	right: -3px !important;
	cursor: e-resize;
	width: 7px;
	top: 0;
	height: 100%;
	position: absolute;
	font-size: .1px;
	display: block;
}


.dnd_element{
	min-height: 30px;
	line-height: 30px;
	text-indent: 10px;
	cursor: move;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	border: 1px solid #dfdfdf;
	background: #f1f1f1;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#ececec),to(#f9f9f9));
	background-image: -webkit-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: -moz-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: -o-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: linear-gradient(to top,#ececec,#f9f9f9);
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0px 10px 10px 10px;
	position: relative;
	word-break:break-all;
}

.dnd_element .element_name{
	display: block;
	width: 100%;
	height: 30px;
	overflow: hidden;
	font-weight: bold;
}

.dnd_element .element_excerpt{
	color:#aaa;
	font-size: .8em;
}

.dnd_element_placeholder{
	border: 1px dashed #aaa;
	margin: 0px 10px 10px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


.dnd_element_delete,
.dnd_element_duplicate,
.dnd_element_edit{
	display: block;
	height: 12px;
	width: 12px;
	background: url("images/delete.png");
	position: absolute;
	top: -6px;
	right: -6px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 400ms;
	-webkit-transition: opacity 400ms;
}

.dnd_element_duplicate{
	background: url("images/duplicate.png");
	top: 50%;
	right: -6px;
	margin-top: -6px;
}

.dnd_element_edit{
	background: url("images/edit.png");
	bottom: -6px;
	right: -6px;
	top: auto;
}

.dnd_element:hover .dnd_element_delete,
.dnd_element:hover .dnd_element_duplicate,
.dnd_element:hover .dnd_element_edit{
	opacity: 1;
	transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
}

#dnd_shortcode_selector{
	width: 30%;
	float: left;
	height: 100%;
}

#dnd_shortcodes_list{
	overflow: hidden;
	height: 100%;
}

.dnd_select_shortcode:last-child{
	margin-bottom: 40px !important;
}

#dnd_shortcode_attributes{
	width: 70%;
	float: right;
	padding:0px 0px 0px 40px;
	overflow: hidden;
	height: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: #f8f8f8;
}

#dnd_shortcodes_list li{
	position: relative;
	border-bottom: 1px solid #f1f1f1;
	line-height: 25px;
	margin: 0;
	list-style: none;
	padding-left: 5px;
	cursor: pointer;
}

#dnd_shortcodes_list li.even{
	background: #f6f6f6;
}

#dnd_shortcodes_list li .item-info{
	text-transform: uppercase;
	color: #666;
	font-size: 11px;
	float: right;
	margin-right: 5px;
}

#dnd_shortcodes_list .selected_shortcode{
	background: #ddd !important;
	color: #333 !important;
}

#dnd_shortcode_selector_filter{
	width: 95%;
}

#dnd_shortcode_selector .clear_field{
	background: url('images/clear.png') 0 0 no-repeat;
	display: inline-block;
	height: 8px;
	width: 8px;
	position: relative;
	left: -15px;
	cursor: pointer;
}

#dnd_attributes_table{
	margin-top: 33px;
	width: 100%;
}

#dnd_attributes_table.dnd_attributes_table_editing{
	margin-top: 10px;
}

.dnd_column_section_settings{
	background: #f8f8f8;
	padding: 20px;
}

.dnd_column_section_settings table{
	margin: 0 !important;
}

#dnd_attributes_table td{
	vertical-align:top;
	padding-bottom: 7px;
}

#dnd_attributes_table input[type=text],
#dnd_attributes_table select,
#dnd_attributes_table textarea{
	width: 100%;
}

#dnd_attributes_table textarea{
	height: 100px;
}

#dnd_attributes_table label{
	display: inline-block;
	vertical-align: top;
}

.dnd_with_label{
	width: 200px;
}

#editor-attributes_and_settings p small,
#dnd_shortcode_attributes p small{
	display: block;
	text-align: right;
}

#dnd_insert_shortcode,
#dnd_save_changes{
	margin-bottom: 60px;
}

.dnd_insert_shortcode_button{
	text-align: right;
}

#dnd_initial_message{
	text-align: center;
	padding-top: 100px;
}

.dnd_child_title{
	padding-top: 20px;
	padding-bottom: 10px;
}

.dnd_child_title div{
	border-top: 1px solid #eee;
	padding: 20px 0px 5px 205px;
}

.dnd_child_title h4{
	display: inline;
	text-transform: uppercase;
	font-size: 14px;
	color: #666;
}

.dnd_child_remove_link{
	display: none;
	margin-left: 20px;
	color: red;
	cursor: pointer;
}

.dnd_shortcode_child:hover .dnd_child_remove_link{
	display: inline;
}

#dnd_shortcode_title h3{
	margin-top: 10px;
	margin-bottom: 25px;
	text-align: center;
}

#dnd_shortcode_help td p{
	background: #c9dfef;
	padding: 10px 20px;
	margin-bottom: 20px;
}

#dnd_edit_shortcode_wrapper{
	overflow: hidden;
	height: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: #f8f8f8;
	padding-left: 15px;
}

#dnd_edit_shortcode_wrapper .mCustomScrollBox>.mCSB_scrollTools{
	width: 2px !important;
}

.upload_image_button{
	margin-top: 10px !important;
}

.dnd_attribute_with_info{
	border-bottom: 1px dotted #666;
	cursor: help;
}

.mCSB_container{
	margin-right: 15px !important;
}

#dnd_shortcode_attributes .mCustomScrollBox>.mCSB_scrollTools{
	width: 2px !important;
}

.editor-error_msg{
	padding: 40px 20px;
	text-align: center;
}
#css-editor-help{
    z-index: 1;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 50px;
    line-height: normal;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    padding: 0.4em 1em;
    border: 6px solid #666666;
    background-color: #d2001e;
}
#css-editor-alert-link,#css-editor-alert-link:visited{
    font-size: 21px !important;
    color: #ffffff !important;
    background-color:transparent!important;
}
#css-editor-alert-style{
    display:none;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:17px;
    color:black;
    width: 23%;
    display: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    border: 3px solid grey;
    background-color: #ffffff;
}
.css-editor-alerte{
    display:block
}