<div id="cv3-outils" class="cv3-block">
	<a class="link_toggle" data-toggle="collapse" data-parent="#cv3-outils" href="#outils">Outils</a>
	<h4>Outils</h4>
	<div id="outils" class="collapse">
		<div class="middle">
			<ul>
				<li><a href="FR_<%$tzr.corailv3_home%>.html" title="Version Fran&ccedil;aise"><span class="icon-fr"></span>Fran&ccedil;ais</a></li>
				<li><a href="GB_<%$tzr.corailv3_home%>.html" title="English Version"><span class="icon-gb"></span>English</a></li>
				<li><a href="#" title="Agmenter taille du textes"><span class="icon-text-plus"></span>Augmenter taille du texte</a></li>
				<li><a href="#" title="Diminuer taille du texte"><span class="icon-text-moins"></span>Diminuer taille du texte</a></li>
				<li><a href="#" title="Imprimer" OnClick="javascript:window.print();"><span class="icon-print"></span>Imprimer</a></li>
				<li><a href="#" title="Version Pdf"><span class="icon-pdf"></span>Version Pdf</a></li>
				<a id="bookmarkme" href="#"  rel="sidebar" title="Marquer cette page" onclick="bookmark('<%$title%>','<%$fullself%>&alias=<%$it_cat_mit_oalias->raw%>')"><span class="icon-favori"></span>Marque page</a></li>
				<li><a href="#" title="Flux RSS"><span class="icon-rss"></span>Flux rss</a></li>
			</ul>
		</div>
		<div class="link"><a href="#">Tous les outils</a></div>
	</div><!-- fin outils -->
</div><!-- fin cv3-outils -->
