<%if $it_olines[it]%>
<!-- cv3-agenda.html -->
<%if $admini%><%assign var=ts value="Module/InfoTree.viewsection.html"%><%else%><%assign var=ts value="Application/MiniSite/public/templates/viewsection.html"%><%/if%>
<%assign var=sectiondivid value="cv8d-browsediv-`$it_itoid[it]`"%>
<%assign var=section value=$it_olines[it]%>

<%* fontion callback chargement de la page comme toute liste en section fonction *%>
<script type="text/javascript" language="javascript">function browsedivinitpage(sectiondivid){}</script>

<%if !isset($smarty.request.contentonly)%>
  <div class="cv8d-browsediv cv8d-browsediv-<%$section._functionparams.moid%>" id="<%$sectiondivid%>">
  <%assign var=end value="</div>"%>
<%else%>
  <%assign var=end value=""%>
<%/if%>

<%if $section.filterfields || $section.sortfields%>
<!-- Agenda : Formulaire -->
<a id="show-cv8d-browseform" class="btn btn-info" style="position:absolute;right:15px;margin-top:-40px;">Effectuer une recherche</a>
<div id="cv8d-browseform" style="display:none;">
  <%include file="`$smarty.const.TZR_SHARE_DIR`Module/InfoTree.defaulttemplates/disp-browsefilters.html"  browsetype="" sectiondivid="`$sectiondivid`"%>
</div>
<script>
// Afficher/Cacher le formulaire
$("a#show-cv8d-browseform").click(function(e){
  e.preventDefault();
  $("div#cv8d-browseform").slideToggle();
})
</script>
<%/if%>

<%include file="`$smarty.const.TZR_SHARE_DIR`Module/InfoTree.defaulttemplates/disp-browsepagination.html" assign="pager" section=$section %>
<%if $pager %><div class="cv8d-pagelist cv8d-pagelist-top"><%$pager%></div><%/if%>

<!-- Agenda : Liste -->
<div id="agendaHome">
    <div class="agendaContainer">
        <%section name=i loop=$section.lines_oid%>
          <%assign var="oid" value=$section.lines_oid[i]%>
          <%if $admini%>
            <%assign var=evtUrl value="`$self`&moid=`$it_moid`&function=editpage&template=Module/InfoTree.viewpage.html&tplentry=it&oidit=`$section._functionparams.params.__linktodetail_oidit`&oid=`$oid`&from[oidit]=`$it_cat_mit.oid`&from[itoid]=`$it_itoid[it]`"%>
          <%else%>
            <%assign var=evtUrl value="`$self`&alias=`$section._functionparams.params.__linktodetail`&oid=$oid&from[alias]=`$it_cat_mit.oalias->raw`&from[itoid]=`$it_itoid[it]`&keywords=`$section.lines_tlink[$i]`"%>
          <%/if%>

          <div class="row newsMiniSite">
            <%if $section.lines_oimage[i]->resizer && $section.lines_oimageintro[i]->raw == ""%>
            <div class="images">
              <%$section.lines_oimage[i]->html %>
            </div>
            <%/if%>
            <div class="description" style="margin-top: 8px">
              <div class="titre titreItem"><%$section.lines_otitle[i]->toText()%></div>
              <%assign var=date1time value=$section.lines_ostart[i]->raw|strtotime%>
              <%assign var=date2time value=$section.lines_oend[i]->raw|strtotime%>
              <%assign var=day1 value="d"|date:$date1time%>
              <%assign var=month1 value="m"|date:$date1time%>
              <%assign var=day2 value="d"|date:$date2time%>
              <%assign var=month2 value="m"|date:$date2time%>
              <%if $day1 neq $day2 and $month1 neq $month2 %>
                <div class="date1"><span class="color"><%$day1%> </span><%$month1|@getFrenchMonth|substr:0:4%><%if $section.lines_oend[i]->raw%> au <span class="color"><%$day2%> </span><%$month2|@getFrenchMonth|substr:0:4%><%/if%></div>
              <%else%>
                <div class="date1">Le <span class="color"><%$day1%> </span><%$month1|@getFrenchMonth%><%if $agline.oend->raw%><%/if%></div>
              <%/if%>
              <%if $section.lines_oimageintro[i]->raw != ""%>
                <%assign var="target" value="_self"%>
                <%if $section.lines_ourlinterneintro[i]->raw != ""%>
                  <%assign var="evtUrl" value=$fullself|cat:"alias="|cat:$section.lines_ourlinterneintro[i]->raw%>
                <%elseif $section.lines_ourlexterneintro[i]->raw != ""%>
                  <%assign var="evtUrl" value=$section.lines_ourlexterneintro[i]->url%>
                  <%assign var="target" value="_blank"%>
                <%/if%>
                <a href="<%$evtUrl%>" target="<%$target%>"><%$section.lines_oimageintro[i]->html%></a>
              <%else%>
                <%if $section.lines_ohor[i]->raw%><div class="duree">à <%$section.lines_ohor[i]->html%></div><%/if%>
                <%if $section.lines_otheme[i]->raw%><div class="theme"><%$section.lines_otheme[i]->html%></div><%/if%>
                <%if $section.lines_otype[i]->raw%><div class="type"><%$section.lines_otype[i]->html%></div><%/if%>
                <div class="descItem"><%$section.lines_ointro[i]->raw%></div>
                <a href="<%$evtUrl%>" type="button" class="btn btn-default btAgenda">+</a>
              <%/if%>

              <!--
              <div class="theme"><%$section.lines_otheme[i]->html%></div>
              <div class="type"><%$section.lines_otype[i]->html%></div>
              <div class="intro descItem"><%$section.lines_ointro[i]->toText()%></div>
              <div class="en savoir plus">
                <a href="<%$evtUrl%>" type="button" class="btn btn-default btAgenda">+</a>
              </div>
              -->
            </div>
          </div>

        <%/section%>
    </div>
</div><!-- / #agendaHome -->

<%if $pager %><div class="cv8d-pagelist cv8d-pagelist-bottom"><%$pager%></div><%/if%>

<%$end%>
<!-- / cv3-agenda.html -->
<%/if%>
