<fieldset>
  <legend><%$syslabels.Seolan_Core_General.title%></legend>
  <div class="table-responsive">
    <table class="table list2">
      <tr><th><label><%$it_olines[it].otitsec->fielddef->label%></label></th><td><%$it_olines[it].otitsec->html%></td></tr>
      <tr><th><label><%$it_olines[it].osubtit->fielddef->label%></label></th><td><%$it_olines[it].osubtit->html%></td></tr>
      <tr><th><label><%$it_olines[it].ochapeau->fielddef->label%></label></th><td><%$it_olines[it].ochapeau->html%></td></tr>
    </table>
  </div>
</fieldset>

<fieldset>
  <legend><%$syslabels.Seolan_Core_General.content%></legend>
  <div class="table-responsive">
    <table class="table list2">
      <tr>
        <th><label>Texte avant formulaire</label></th>
        <td><%$it_olines[it].otxt1->html%></td>
      </tr>
      <tr>
        <th><label>Texte demande enregistrée</label></th>
        <td><%$it_olines[it].otxt2->html%></td>
      </tr>
      <tr>
        <th><label>Texte contact inconnu</label></th>
        <td><%$it_olines[it].otxt3->html%></td>
      </tr>
    </table>
  </div>
</fieldset>
