<%* Formulaire d edition d une section fonction *%>
<%include file="`$smarty.const.TZR_SHARE_DIR`Core.header/ajax.html" title=$syslabels.Seolan_Module_InfoTree_InfoTree.edit_a_section%>
<form action="<%$self%>" method="post" enctype="multipart/form-data" name="editform<%$uniqid%>" onsubmit="return TZR.ajaxSubmitForm(this);">
 <input type="hidden" name="function" value="savefunction">
 <input type="hidden" name="uniqid" value="<%$uniqid%>">
 <input type="hidden" name="LANG_USER" value="<%$lang_user%>">
 <input type="hidden" name="LANG_DATA" value="<%$lang_data%>">
 <input type="hidden" name="oidit" value="<%$it_oidit%>">
 <input type="hidden" name="oidsection" value="<%$it_oidsection%>">
 <input type="hidden" name="skip" value="1">
 <input type="hidden" name="moid" value="<%$_moid%>">
 <input type="hidden" name="_langs" value="">
 <input type="hidden" name="oidtpl" value="<%$it__tp.oid%>">
 <input type="hidden" name="section[moid]" value="<%$it_section.moid%>">
 <input type="hidden" name="section[function]" value="<%$it_section.function%>">
 <input type="hidden" name="_next" value="<%$self%>function=viewpage&moid=<%$_moid%>&oidit=<%$it_oidit%>&template=Module/InfoTree.viewpage.html&tplentry=it&_tabs=<%$smarty.request._tabs%>#<%$it_oidsection%>">
 <%include file="Module/InfoTree.editfunction-core.html"%>
 <div id="tzr-action<%$uniqid%>" class="tzr-action">
  <input type="submit" value="<%$syslabels.Seolan_Core_General.save_text%>">
  <%if $modsec_mods[$_moid].rwv && $lang_data==$lang_def && count($lang_code)>1%>
   <input type="submit" onclick="if(confirm('<%$syslabels.Seolan_Core_General.savealllangwarning%>')) this.form._langs.value='all'; else return false;" value="<%$syslabels.Seolan_Core_General.savealllang%>">
  <%/if%>
 </div>
</form>
