<div class="modal fade" id="modal-langs-list-<%$uniqid%>" tabindex="-1" role="dialog" aria-labelledby="modal-langs-list-<%$uniqid%>-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%$syslabels.Seolan_Core_General.saveselectedlang%></h4>
      </div>
      <div class="modal-body">

        <%*Liste des langues*%>
        <fieldset class="fieldsetAccordion fieldsetAccordionOpen">
          <legend><%$syslabels.Seolan_Core_General.saveselectedlang%></legend>
          <div class="row lang-list">
            <div class="all-langs col-xs-12">
              <input checked id="selall-<%$uniqid%>" type="checkbox">
              <label for="selall-<%$uniqid%>">
                <%$syslabels.Seolan_Core_General.select_all%>
              </label>
            </div>
            <div class="lang col-xs-12 col-sm-4 col-md-3">
              <input type="checkbox" class="selectedlang defaultlang" name="_selectedlangs[]" value="<%$TZR.lang_def.code%>" checked="checked" readonly/>
              <%$TZR.lang_def.text%> (<%$syslabels.Seolan_Core_General.lang_def%>)
            </div>
            <%section name=lang loop=$editcat_langsort.code%>
              <%if in_array($editcat_langsort.code[lang], $editcat_authorized_languages) && $editcat_langsort.code[lang] != $lang_def%>
                <div class="lang col-xs-12 col-sm-4 col-md-3">
                  <label>
                    <input type="checkbox" class="selectedlang" name="_selectedlangs[]" value="<%$editcat_langsort.code[lang]%>" checked="checked"/>
                    <%$editcat_langsort.text[lang]%>
                  </label>
                </div>
              <%/if%>
            <%/section%>
          </div>
        </fieldset>

        <%*Liste des champs*%>
        <fieldset class="fieldsetAccordion fieldsetAccordionClose">
          <legend><%$syslabels.Seolan_Core_General.saveselectedfields%></legend>
          <div class="row lang-list">

            <div class="all-fields col-xs-12">
              <input id="selallfields-<%$uniqid%>" type="checkbox">
              <label for="selallfields-<%$uniqid%>">
                <%$syslabels.Seolan_Core_General.select_all%>
              </label>
            </div>

            <%if $editcat__groups%>
              <%foreach key=group item=fields from=$editcat__groups%>
                <%assign var="hasfield" value=false%>
                <%capture name="group_fieldslist" assign="group_fieldslist"%>
                  <%section name=f loop=$fields%>
                    <%if (empty($smarty.request._linkedfields) || !in_array($fields[f]->field, $smarty.request._linkedfields)) && $fields[f]->fielddef->ftype != '\Seolan\Field\Timestamp\Timestamp'%>
                      <%assign var="hasfield" value=true%>
                      <div class="field col-xs-12 col-sm-6 col-md-4" id="selectfield-<%$fields[f]->field%>">
                        <label>
                          <input type="hidden" name="force_editfields_all[]" value="<%$fields[f]->field%>"/>
                          <input type="checkbox" name="force_editfields_selected[]" value="<%$fields[f]->field%>"/>
                          <%$fields[f]->fielddef->label%>
                        </label>
                      </div>
                    <%/if%>
                  <%/section%>
                <%/capture%>
                <%if $hasfield%>
                  <div class="col-xs-12">
                    <h4><%if $group == "_systemproperties"%><%$syslabels.Seolan_Core_General.properties_text%><%else%><%$group%><%/if%></h4>
                  </div>
                <%/if%>
                <%$group_fieldslist%>
              <%/foreach%>
            <%else%>
              <%section name=fields loop=$editcat_fields_object %>
                <%if (empty($smarty.request._linkedfields) || !in_array($editcat_fields_object[fields]->field, $smarty.request._linkedfields)) && $editcat_fields_object[fields]->fielddef->ftype != '\Seolan\Field\Timestamp\Timestamp'%>
                  <div class="field col-xs-12 col-sm-6 col-md-4" id="selectfield-<%$editcat_fields_object[fields]->field%>">
                    <label>
                      <input type="hidden" name="force_editfields_all[]" value="<%$editcat_fields_object[fields]->field%>"/>
                      <input type="checkbox" name="force_editfields_selected[]" value="<%$editcat_fields_object[fields]->field%>"/>
                      <%$editcat_fields_object[fields]->fielddef->label%>
                    </label>
                  </div>
                <%/if%>
              <%/section%>
            <%/if%>

          </div>
        </fieldset>


      </div>
      <div class="modal-footer">
        <div class="tzr-action">
          <input type="button" value="<%$syslabels.Seolan_Core_General.ok%>">
        </div>
      </div>
    </div>
  </div>
</div>
