<%if $charte_oBODY_fontFamily->link.ofichier->raw %>
@import url(<%$charte_oBODY_fontFamily->link.ofichier->raw%>);
<%/if%>
<%if $charte_oHEADINGS_fontFamily->link.ofichier->raw %>
@import url(<%$charte_oHEADINGS_fontFamily->link.ofichier->raw%>);
<%/if%>
.navbar-fixed-top {
    background-image: url('<%$charte_oSITE_HEADER_IMG->url%>&disp=inline');
}
@media (min-width: 768px) {
    .navbar-fixed-top {
	background-image: url('<%$charte_oSITE_HEADER_IMG->url%>&disp=inline');
    }
}
@media (min-width: 992px) {
    .navbar-fixed-top {
	background-image: url('<%$charte_oSITE_HEADER_IMG->url%>&disp=inline');
    }
}
@media (min-width: 1200px) {
    .navbar-fixed-top {
	background-image: url('<%$charte_oSITE_HEADER_IMG->url%>&disp=inline');
    }
}
body{
    <%if $charte_oBODY_fontFamily->raw %>font-family:<%$charte_oBODY_fontFamily->link.odeclaration->raw%>;<%/if%>
    <%if $charte_oBODY_color->raw%>color:<%$charte_oBODY_color->raw%>;<%/if%>
    <%if $charte_oBODY_fontSize->raw%>font-size:<%$charte_oBODY_fontSize->raw%>px;<%/if%>
    <%if $charte_oBODY_backgroundColor->raw%>background-color:<%$charte_oBODY_backgroundColor->raw%>;<%/if%>
}
.legende,.legende a{
    <%if $charte_oBODY_color->raw%>color:<%$charte_oBODY_color->raw%>;<%/if%>
}

a,.cv3-download a{
    <%if $charte_oa_color->raw%>color:<%$charte_oa_color->raw%>;<%/if%>
    <%if $charte_oa_textDecoration->raw%>text-decoration:<%$charte_oa_textDecoration->raw%>;<%/if%>
}
a:hover ,.cv3-download a:hover
{
    <%if $charte_oa_hover_color->raw%>color:<%$charte_oa_hover_color->raw%>;<%/if%>
    <%if $charte_oa_hover_textDecoration->raw%>text-decoration:<%$charte_oa_hover_textDecoration->raw%>;<%/if%>
}
.cv8d-action [type="submit"],
.navbar-toggle,
.cv8d-browseform input[type="submit"] {
    <%if $charte_oa_color->raw%>background-color:<%$charte_oa_color->raw%>;border-color:<%$charte_oa_color->raw%>;<%/if%>

}
.cv8d-action [type="submit"]:hover,
.cv8d-browseform input[type="submit"]:hover,
.navbar-toggle:hover,.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    <%if $charte_oa_hover_color->raw%>background-color:<%$charte_oa_hover_color->raw%>;border-color:<%$charte_oa_hover_color->raw%>;<%/if%>

}
<%if $charte_oHEADINGS_fontFamily->raw %>
.cv3-envaleur .titrage_envaleur,
h1,h2,h3,h4,h5,h6,
.cv8d-browsediv-4 .cv8d-field-F0001,
.cv3-3cols .titre
{
	font-family: <%$charte_oHEADINGS_fontFamily->link.odeclaration->raw%>;
}
<%/if%>
h1{
    <%if $charte_oH1_color->raw%>color:<%$charte_oH1_color->raw%>;<%/if%>
    <%if $charte_oH1_fontWeight->raw%>font-weight:<%$charte_oH1_fontWeight->raw%>;<%/if%>
}
h2,
.cv8d-browsediv-4 .cv8d-field-F0001 ,
.cv8d-browsediv-4 .cv8d-field-F0004
{
    <%if $charte_oH2_color->raw%>color:<%$charte_oH2_color->raw%>;<%/if%>
    <%if $charte_oH2_fontWeight->raw%>font-weight:<%$charte_oH2_fontWeight->raw%>;<%/if%>
}
h3{
    <%if $charte_oH3_color->raw%>color:<%$charte_oH3_color->raw%>;<%/if%>
    <%if $charte_oH3_fontWeight->raw%>font-weight:<%$charte_oH3_fontWeight->raw%>;<%/if%>
}
h4{
    <%if $charte_oH4_color->raw%>color:<%$charte_oH4_color->raw%>;<%/if%>
    <%if $charte_oH4_fontWeight->raw%>font-weight:<%$charte_oH4_fontWeight->raw%>;<%/if%>
}
h5{
    <%if $charte_oH5_color->raw%>color:<%$charte_oH5_color->raw%>;<%/if%>
    <%if $charte_oH5_fontWeight->raw%>font-weight:<%$charte_oH5_fontWeight->raw%>;<%/if%>
}
h6{
    <%if $charte_oH6_color->raw%>color:<%$charte_oH6_color->raw%>;<%/if%>
    <%if $charte_oH6_fontWeight->raw%>font-weight:<%$charte_oH6_fontWeight->raw%>;<%/if%>
}
.footer,
.cv3-envaleur,
.cv3-3cols .txt p,.cv3-3cols .titre,
.footer ul li a
{
    <%if $charte_ofooter_backgroundColor->raw%>background-color:<%$charte_ofooter_backgroundColor->raw%>;<%/if%>
    <%if $charte_ofooter_fontColor->raw%>color:<%$charte_ofooter_fontColor->raw%>;<%/if%>
}
.footer a,
.cv3-envaleur a,
.cv3-3cols a
{
    <%if $charte_ofooter_a_color->raw%>color:<%$charte_ofooter_a_color->raw%>;<%/if%>
    <%if $charte_ofooter_a_textDecoration->raw%>text-decoration:<%$charte_ofooter_a_textDecoration->raw%>;<%/if%>

}
.footer a:hover, .footer ul li a:hover,
.cv3-envaleur a:hover,
.cv3-3cols a:hover
{
    <%if $charte_ofooter_a_hover_color->raw%>color:<%$charte_ofooter_a_hover_color->raw%>;<%/if%>
    <%if $charte_ofooter_a_hover_textDecoration->raw%>text-decoration:<%$charte_ofooter_a_hover_textDecoration->raw%>;<%/if%>
}
.cv3-block input[type="submit"]{
    <%if $charte_ofooter_a_color->raw%>background-color:<%$charte_ofooter_a_color->raw%>;<%/if%>
}
.cv3-block input[type="submit"]:hover{
    <%if $charte_ofooter_a_hover_color->raw%>background-color:<%$charte_ofooter_a_hover_color->raw%>;<%/if%>
}
#cv3-social ul li a {
    <%if $charte_ofooter_a_color->raw%>color:<%$charte_ofooter_a_color->raw%>;<%/if%>
}
#cv3-social ul li a:hover {
    <%if $charte_ofooter_a_hover_color->raw%>color:<%$charte_ofooter_a_hover_color->raw%>;<%/if%>
}


.footer h1, .footer h2,.footer h3,.footer h4, .footer h5,.footer h6,
.footer .cv3-block h1, .footer .cv3-block h2,.footer .cv3-block h3,.footer .cv3-block h4, .footer .cv3-block h5,.footer .cv3-block h6,
.cv3-envaleur h1, .cv3-envaleur h2,.cv3-envaleur h3,.cv3-envaleur h4,.cv3-envaleur h5,.cv3-envaleur h6,
.cv3-3cols h1,.cv3-3cols h2,.cv3-3cols h3,.cv3-3cols h4,.cv3-3cols h5, .cv3-3cols h6
{
    <%if $charte_ofooter_H2_color->raw%>color:<%$charte_ofooter_H2_color->raw%>;<%/if%>
    <%if $charte_ofooter_H2_fontWeight->raw%>font-weight:<%$charte_ofooter_H2_fontWeight->raw%>;<%/if%>
}

#cv3-news {
    <%if $charte_oactus_backgroundColor->raw%>background-color:<%$charte_oactus_backgroundColor->raw%>;<%/if%>
}
#cv3-news h4 {
    <%if $charte_oactus_H4_color->raw%>color:<%$charte_oactus_H4_color->raw%>;<%/if%>
    <%if $charte_oactus_H4_fontWeight->raw%>font-weight:<%$charte_oactus_H4_fontWeight->raw%>;<%/if%>
}
#cv3-news h5 {
    <%if $charte_oactus_H5_color->raw%>color:<%$charte_oactus_H5_color->raw%>;<%/if%>
    <%if $charte_oactus_H5_fontWeight->raw%>font-weight:<%$charte_oactus_H5_fontWeight->raw%>;<%/if%>
}
#cv3-news a,
#scrollToTop a{
    <%if $charte_oactus_a_color->raw%>color:<%$charte_oactus_a_color->raw%>;<%/if%>
    <%if $charte_oactus_a_textDecoration->raw%>text-decoration:<%$charte_oactus_a_textDecoration->raw%>;<%/if%>
}
#scrollToTop a{
    <%if $charte_oactus_a_color->raw%>background-color:<%$charte_oactus_a_color->raw%>;<%/if%>
    text-decoration:none;
}
#cv3-news a:hover,
#scrollToTop a:hover{
    <%if $charte_oactus_a_hover_color->raw%>color:<%$charte_oactus_a_hover_color->raw%>;<%/if%>
    <%if $charte_oactus_a_hover_textDecoration->raw%>text-decoration:<%$charte_oactus_a_hover_textDecoration->raw%>;<%/if%>
}
#scrollToTop a:hover{
    <%if $charte_oactus_a_hover_color->raw%>background-color:<%$charte_oactus_a_hover_color->raw%>;<%/if%>
    text-decoration:none;
}

.navbar-default .navbar-nav > li > a {
    <%if $charte_omenunv1_a_color->raw%>color:<%$charte_omenunv1_a_color->raw%>;<%/if%>
    <%if $charte_omenunv1_a_backgroundColor->raw%>background-color:<%$charte_omenunv1_a_backgroundColor->raw%>;<%/if%>
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a:hover {
    <%if $charte_omenunv1_a_hover_color->raw%>color:<%$charte_omenunv1_a_hover_color->raw%>;<%/if%>
    <%if $charte_omenunv1_a_hover_backgroundColor->raw%>background-color:<%$charte_omenunv1_a_hover_backgroundColor->raw%>;<%/if%>

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    <%if $charte_omenunv1_a_active_color->raw%>color:<%$charte_omenunv1_a_active_color->raw%>;<%/if%>
    <%if $charte_omenunv1_a_active_backgroundColor->raw%>background-color:<%$charte_omenunv1_a_active_backgroundColor->raw%>;<%/if%>
}

.navbar-nav .dropdown-menu > li > a {
    <%if $charte_omenunv2_a_color->raw%>color:<%$charte_omenunv2_a_color->raw%>;<%/if%>
    <%if $charte_omenunv2_a_backgroundColor->raw%>background-color:<%$charte_omenunv2_a_backgroundColor->raw%>;<%/if%>
}
.navbar-nav .dropdown-menu > li > a:hover {
    <%if $charte_omenunv2_a_hover_color->raw%>color:<%$charte_omenunv2_a_hover_color->raw%>;<%/if%>
    <%if $charte_omenunv2_a_hover_backgroundColor->raw%>background-color:<%$charte_omenunv2_a_hover_backgroundColor->raw%>;<%/if%>
}
.navbar-nav .dropdown-menu > li.active > a,
.navbar-nav .dropdown-menu > li.active > a:focus,
.navbar-nav .dropdown-menu > li.active > a:hover
{
    <%if $charte_omenunv2_a_active_color->raw%>color:<%$charte_omenunv2_a_active_color->raw%>;<%/if%>
    <%if $charte_omenunv2_a_active_backgroundColor->raw%>background-color:<%$charte_omenunv2_a_active_backgroundColor->raw%>;<%/if%>

}
#cv3-links-reseaux-sociaux ul li a {
    <%if $charte_oSHARE_color->raw%>color:<%$charte_oSHARE_color->raw%>;<%/if%>
}
