<!--  <%$smarty.template%> Facebbok login -->
<div id="<%$dir.id%>loginbutton<%$extraId%>" class="network-login network-login-facebook fb-login-button" data-form="<%$formname%>">
  <button class="btn btn-default">
    <span><%label t="Connectez-vous avec"%> <span><%label t=$dir.button_label%></span></span>
    <span class="glyphicon csico-facebook"></span>
  </button>
</div>

<script>
 if (typeof(TZR) == "undefined")
   var TZR = {};
 TZR.fbcAppId='<%$dir.app_id%>';
 TZR.fbcAuthClient=null;
 TZR.fbForm = null;

 window.fbAsyncInit = function() {
   FB.init({
     appId:TZR.fbcAppId,
     cookie:true, <%* récupérer le cookie pour le script de vérification *%>
     xfbml:true,
     version:'v4.0'
   });
   TZR.fbcCheckLoginState.call(TZR);
 };
 TZR.fbcCheckLoginState = function() {
   if (TZR.fbForm == null) { // autre script
     return;
   }
   FB.login(function(response) {
     if (response.status === 'connected') {
       TZR.fbcSignInOK(response);
     } else if (response.status === 'not_authorized') {
       TZR.fbcSignInKO();
     } else {
       TZR.fbcSignInKO();
      }
   }, {
     scope: 'email,public_profile',
     return_scopes: true
   });
 };
 TZR.fbcSignInOK = function(response){
   if (TZR.fbForm == null) { // autre script
     return;
   }
   TZR.fbForm.elements['login'].value = '';
   TZR.fbForm.elements['password'].value = '';
   TZR.fbForm.elements['oauth[directoryid]'].value="<%$dir.id%>";
   TZR.fbForm.elements['oauth[<%$dir.id%>][accesstoken]'].value=response.authResponse.accessToken;
   TZR.fbForm.submit();
 };
 TZR. fbcSignInKO = function(obj){
   console.log('============ erreur/annulation facebook login =================');
 };

 TZR.fbcClickListener = function(){
  TZR.fbForm = document.forms[this.dataset.form];
  if (typeof FB !== "undefined" && typeof FB.login !== "undefined") {
    return TZR.fbcCheckLoginState.call(TZR);
  }
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/fr_FR/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
 };

 if (typeof tarteaucitron === "undefined") {
    document.getElementById("<%$dir.id%>loginbutton<%$extraId%>").addEventListener('click', TZR.fbcClickListener);
 } else {
    tarteaucitron.services.facebookoauth = {
      "key": "facebookoauth",
      "type": "api",
      "name": "Facebook Login",
      "needConsent": true,
      "cookies": ['c_user', 'datr', 'fr', 'sb', 'spin', 'xs'],
      "js": function () {
        "use strict";
        tarteaucitron.fallback(['network-login-facebook'], '\
  <span class="glyphicon csico-facebook"></span>\
  <span class="buttonText"><%label t="Connectez-vous avec"%> <span><%label t=$dir.button_label%></span></span>');
        var buttons = document.getElementsByClassName('network-login-facebook');
        for (var i=0; i<buttons.length; i++) {
          buttons[i].addEventListener('click', TZR.fbcClickListener);
        }
      },
      "fallback": function () {
        "use strict";
        tarteaucitron.fallback(['network-login-facebook'], tarteaucitron.engage('facebookoauth'));
      }
    };
    (tarteaucitron.job = tarteaucitron.job || []).push('facebookoauth');
  }
</script>
