<!--  <%$smarty.template%> <%* okta openid connect *%> -->
<div id="<%$dir.id%>loginbutton" class="network-login network-login-okta" data-form="<%$formname%>">
  <span class="buttonText">
    <span>
      <%$syslabels.Seolan_Core_General.loginWith%>&nbsp;<img style="height:12px" src="<%$dir.login->buttonIcon|default:"/csx/src/Directory/OKTA/public/Logo_Okta_Blue_RGB.png"%>">
    </span>
  </span>
</div>
<script type="text/javascript">
 document.getElementById("<%$dir.id%>loginbutton").onclick = function(){
   document.location="<%$dir.authurl%>";
 };
</script>
