<%include file="`$smarty.const.TZR_SHARE_DIR`Core.header/ajax.html" title=$syslabels.Seolan_Core_General.edit_text%>
<div class="cv8-contenu-center">
  <div id="tzr-tablist-<%$uniqid%>">
    <form action="<%$self%>" method="post" enctype="multipart/form-data" name="editform<%$uniqid%>" onsubmit="return TZR.ajaxSubmitForm(this);">
      Utilisez le bouton parcourir afin de séléctionner l'archive contenant les fichiers à importer pour finaliser l'installation du module ATOS/SIPS<br>
      <table>
	<tr><td>Archive:</td><td><%$br_archive->html%></td><tr>
	<tr><td>Certificat:</td><td><%$br_certifFile->html%></td><tr>
      </table>
      <div id="tzr-action<%$uniqid%>" class="tzr-action">
	<input type="submit" value="<%$syslabels.Seolan_Core_General.save_text%>" >
      </div>
      <input type="hidden" name="_function" value="procInstall">
      <input type="hidden" name="template" value="Core.empty.html">
      <input type="hidden" name="uniqid" value="<%$uniqid%>">
      <input type="hidden" name="tplentry" value="br">
      <input type="hidden" name="moid" value="<%$_moid%>">
      <input type="hidden" name="skip" value="1"> 
      <input type="hidden" name="_next" value="<%$self%>moid=<%$_moid%>&function=getInfos&template=Core/Module.infos.html&tplentry=br">
    </form>
  </div>
</div>
