<script>
 if (typeof(TZR.XPasswordDef) == "undefined")
   TZR.XPasswordDef = {};
 TZR.XPasswordDef.done = 0;
 TZR.XPasswordDef.labels = {
   weak:"<%'Faible'|__:'\\Seolan\\Module\\FrontUsers'|escape:'javascript'%>",
   normal:"<%'Normal'|__:'\\Seolan\\Module\\FrontUsers'|escape:'javascript'%>",
   medium:"<%'Moyen'|__:'\\Seolan\\Module\\FrontUsers'|escape:'javascript'%>",
   strong:"<%'Fort'|__:'\\Seolan\\Module\\FrontUsers'|escape:'javascript'%>",
   veryStrong:"<%'Excellent'|__:'\\Seolan\\Module\\FrontUsers'|escape:'javascript'%>"
 };
 /*<%* chargement et initialisation *%>*/
 TZR.XPasswordDef.initStrengthCheck = function(varid, loginFieldSelector){
   this.varid = varid;
   this.passField = document.getElementById(this.varid);
   this.loginFieldSelector = loginFieldSelector;
   this.minStrength = <%$section.labels.passwordMinstrength|default:10%>;
   this.minChar = <%$section.labels.passwordMinChar|default:8%>;
   this.strengthMess = document.getElementById(this.varid+"_message");
  jQuery.getScript("/csx/VendorJS/pwstrength/dist/pwstrength-bootstrap.min.js",
		    function(){
		      TZR.XPasswordDef.done++;
		      TZR.XPasswordDef._initStrengthCheck.call(TZR.XPasswordDef);
		    }
   );
 };
 TZR.XPasswordDef._initStrengthCheck = function(){
   if (this.done == 0)
     return;

   var varhiden = this.varid+"_confirm";

   var strengthSelector = "#"+this.varid+"_strength";
   var containerSelector = "#"+this.varid+"_container";

   this.passField.setAttribute('data-strongEnough', false);
   
   var options = {};
   var thisXPass = this;
   options.i18n = {
     t: function (key) {
       var result = "";
       switch(key){
	 case "weak": 
	   result = thisXPass.labels.weak;
	   break;
	 case "normal":
	   result = thisXPass.labels.normal;
	   break;;
	 case "medium":
	   result = thisXPass.labels.medium;
	   break;
	 case "strong":
	   result = thisXPass.labels.strong;
	   break;
	 case "veryStrong":
	   result = thisXPass.labels.veryStrong;
       }
       return result === key ? '' : result;
    }
   };
   
   options.ui = {
     bootstrap3: true,
     container: containerSelector,
     showVerdictsInsideProgressBar: true,
     viewports: {
       progress: strengthSelector
     }
   };
   options.rules = {
     activated: {
       wordRepetitions: true
     }
   };
   options.common = {
     debug: false,
     usernameField: this.loginFieldSelector, // controle alias / mot e passe
     minChar:this.minChar,
     onScore: function (options, word, totalScoreCalculated){
       thisXPass.strengthMess.innerHTML = "";
       thisXPass.strengthMess.style.display = "none";
       thisXPass.passField.setAttribute('data-strongEnough', (totalScoreCalculated >= thisXPass.minStrength));

       return totalScoreCalculated;
       
     }
   };
   this.configureValidator();
   jQuery("#"+this.varid).pwstrength(options);
 };
 
 TZR.XPasswordDef.isPassWordValid = function(val){
   this.strengthMess.innerHTML = "";
   this.strengthMess.style.display = "none";
   if (TZR.isPassWordValid_(val)) {
     var strongEnough = this.passField.getAttribute("data-strongEnough");
     if (strongEnough === "false" || strongEnough === false){
       this.passField.isValid = false;
       TZR.isFormOk = false;
       this.strengthMess.style.display = "";
       this.strengthMess.innerHTML = "<%$syslabels.Seolan_Module_User_User.password_is_weak|escape:'html'%>";
     } else {
       this.strengthMess.innerHTML = "";
       this.strengthMess.style.display = "none";
     }
   }
   return this.passField.isValid;
 };
 
 <%* /* surcharge pour prendre en compte la "qualité" du mot de passe saisi */ *%>
 TZR.XPasswordDef.configureValidator = function(){
   TZR.isPassWordValid_ = TZR.isPassWordValid;
   TZR.isPassWordValid = function(val){
     return TZR.XPasswordDef.isPassWordValid.call(TZR.XPasswordDef, val);
   };
 };
 
 <%*
 // pour tests
 TZR.addOnSubmit("console.log(TZR.isFormOk);TZR.isFormOk = false;");
 TZR.customValid = function(){
   console.log('tests');
   TZR.isFormOk = false;
   return false;
 };
 *%>
 
</script>
