<%assign var="user" value=$user|default:$it_olines[it]%>
<%assign var="mod_users" value=$mod_users|default:$it_olines[it]._functionparams.module%>
<form action="<%$self%>alias=<%$smarty.request.alias%>"
      method="post"
      onsubmit="return TZR.isFormValidWithFocus(this,true);"
      name="passwordForgotten"
      class="form-password-forgotten cv8d-insert"
      role="form">

  <input type="hidden" name="moid" value="<%$mod_users->_moid%>" />
  <input type="hidden" name="function" value="procPasswordForgotten" />
  <input type="hidden" name="onerror" value="<%$mod_users->getPanelUrl('passwordForgotten')%>" />
  <input type="hidden" name="_next" value="<%$mod_users->getPanelUrl('login')%>" />

  <%include file="Module/FrontUsers.form-field.html"
    field='login'
    ftype='\Seolan\Field\ShortText\ShortText'
    label="Nom d'utilisateur"|__:'\Seolan\Module\FrontUsers'
    fhtml='<input type="text" name="login" class="form-control">'
  %>

    <div class="cv8d-action">
      <input type="submit" value="<%"Envoyer un nouveau mot de passe"|__:'\Seolan\Module\FrontUsers'%>">
    </div>
    <div class="clearfix"></div>
</form>

<ul class="account-actions">
  <li><a href="<%$mod_users->getPanelUrl('login')%>"><%"Connexion"|__:'\Seolan\Module\FrontUsers'%></a></li>
  <li><a href="<%$mod_users->getPanelUrl('inscription')%>"><%"Créer un compte"|__:'\Seolan\Module\FrontUsers'%></a></li>
</ul>
