<h2>Votre compte <%$xuser->fullname()%></h2>
<p><a class="btn btn-default" href="<%$mod_users->getPanelUrl('edit')%>"><%"Modifier votre profil"|__:'\Seolan\Module\FrontUsers'%></a></p>
<p><a class="btn btn-default" href="<%$mod_users->getPanelUrl('editaddress')%>"><%"Modifier vos coordonnées"|__:'\Seolan\Module\FrontUsers'%></a></p>
<p><a class="btn btn-default" href="<%$mod_users->getPanelUrl('orders')%>"><%"Vos commandes"|__:'\Seolan\Module\FrontUsers'%></a></p>
<p><a class="btn btn-default" href="<%$mod_users->getPanelUrl('logout')%>"><%"Se déconnecter"|__:'\Seolan\Module\FrontUsers'%></a></p>
