<%include file="`$smarty.const.TZR_SHARE_DIR`Core.header/ajax.html"%>
<script type="text/javascript">
 v<%$uniqid%>.go_page=function(f){
  this.jQueryLoad("<%$self%>function=browseBlog&moid=<%$_moid%>&template=Module/Blog.browseblog.html&oid=<%$brblog_oid%>&tplentry=br&first="+f);
 }
</script>
<div class="table-responsive">
<fieldset>
 <legend><%$brblog_otitle->html%></legend>
 <table class="table"> 
  <tr>
   <td><%$brblog_oafile->html%></td>
   <td><%$brblog_owho->html%><%$brblog_otxt->html%></td>
  </tr>
 </table>

</fieldset>
<%if $br_lines_oid%>
 <fieldset>
  <legend>Sommaire</legend>
  <%if $br_last>$br_pagesize%>
   <table class="table">
    <tr>
     <td colspan="20">
      Pages :
      <select name="pageno" onchange="v<%$uniqid%>.go_page(this.value);">
       <%section name=p loop=$br_pages%>
	<option value="<%$br_pages[p]%>"<%if $br_first==$br_pages[p]%> selected style="color:red;"<%/if%>><%$smarty.section.p.iteration%></option>
       <%/section%>
      </select>
      <%if $br_first!="0"%>
       | <a href="#" onclick="v<%$uniqid%>.go_page('<%$br_firstprev%>'); return false;"><%$syslabels.Seolan_Module_Table_Table.prev_page_text%></a>
      <%/if%>
      <%if $br_last>($br_pagesize+$br_first)%>
       | <a href="#" onclick="v<%$uniqid%>.go_page('<%$br_firstnext%>'); return false;"><%$syslabels.Seolan_Module_Table_Table.next_page_text%></a>
      <%/if%>
     </td>
    </tr>
   </table>

  <%/if%>

  <table class="table table-striped cv8_tablelist">
  <thead>
   <tr>
    <th>Actions</th>
    <th>Articles</th>
    <th>Auteur</th>
    <th>Date de publication</th>
    <th>Catégorie</th>
    <th>Nombre de commentaires</th>
    <th>Dernier commentaire</th>
    <th>En attente de validation</th>
   </tr>
  </thead>
  <tbody>
   <%section name=i loop=$br_lines_oid%>
    <%assign var="comments" value=$br_lines_comments[i]%>
    <tr>
      <td class="no-wrap">
	<ul class="ul-list-tools">
	  <li><a class="cv8-ajaxlink" title="<%$syslabels.Seolan_Core_General.view_text%>" href="<%$self%>&function=displayPost&moid=<%$_moid%>&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&template=Module/Blog.displaypost.html&tplentry=br"><%$syslabels.Seolan_Core_General.view%></a></li>
	  <%if $modsec_mods[$_moid].rw || ($imod_props.object_sec && $br_objects_sec[i].rw)%>
	  <li><a class="cv8-ajaxlink" title="<%$syslabels.Seolan_Core_General.edit_text%>" href="<%$self%>&function=editPost&moid=<%$_moid%>&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&template=Module/Blog.editpost.html&tplentry=br"><%$syslabels.Seolan_Core_General.edit%></a></li>
	  <li><a class="cv8-ajaxlink" title="<%$syslabels.Seolan_Core_General.delete_text%>" x-confirm="var ret=TZR.confirmDelete();" href="<%$self%>&function=delPost&template=proc.html&moid=<%$_moid%>&tplentry=br&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&_next=<%$here|escape:url%>"><%$syslabels.Seolan_Core_General.delete%></a></li>
	  <%/if%>
	  <%if $modsec_mods[$_moid].rwv || ($imod_props.object_sec && $br_objects_sec[i].rwv)%>
	  <%if $br_lines_oPUBLISH[i]->raw==1%>
	  <li><a class="cv8-ajaxlink" title="<%$syslabels.Seolan_Core_General.unapprove_text%>" href="<%$self%>&function=validatePost&template=Module/Blog.displaypost.html&moid=<%$_moid%>&tplentry=br&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&value=0&_next=<%$here|escape:url%>"><%$syslabels.Seolan_Core_General.approved%></a></li>
	  <%else%>
	  <li><a class="cv8-ajaxlink" title="<%$syslabels.Seolan_Core_General.approve_text%>" href="<%$self%>&function=validatePost&template=Module/Blog.displaypost.html&moid=<%$_moid%>&tplentry=br&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&value=1&_next=<%$here|escape:url%>"><%$syslabels.Seolan_Core_General.not_approved%></a></li>
	  <%/if%>
	  <%/if%>
	</ul>
      <%counter start=0 name="pubc" assign="pub"%>
      <%section name=j loop=$comments.lines_oid%>
       <%if $comments.lines_oPUBLISH[j]->raw == 2%><%counter name="pubc" assign="pub"%><%/if%>
      <%/section%>
     </td>
     <td>
      <a class="cv8-ajaxlink" href="<%$self%>&function=displayPost&moid=<%$_moid%>&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&template=Module/Blog.displaypost.html&tplentry=br"><%$br_lines_otitle[i]->html%></a>
     </td>
     <td><%$br_lines_owho[i]->html%></td>
     <td><%$br_lines_odatep[i]->html%></td>
     <td><%$br_lines_ocateg[i]->html|default:"&nbsp;"%></td>
     <%if $comments.last%>
      <td><%$comments.last%></td>
      <td><%$comments.lines_odatep[0]->html%></td>
      <td><%$pub|default:'0'%></td>
     <%else%>
      <td colspan="3"></td>
     <%/if%>
    </tr>
   <%/section%>
  </tbody>
  </table>

  <%if $br_last>$br_pagesize%>


   <table class="table table-striped">
    <tr>
     <td colspan="20">
      Pages :
      <select name="pageno" onchange="v<%$uniqid%>go_page(this.value);">
       <%section name=p loop=$br_pages%>
	<option value="<%$br_pages[p]%>"<%if $br_first==$br_pages[p]%> selected STYLE="color:red;"<%/if%>><%$smarty.section.p.iteration%></option>
       <%/section%>
      </select>
      <%if $br_first!="0"%>
       |<a href="#" onclick="v<%$uniqid%>.go_page('<%$br_firstprev%>');"><%$syslabels.Seolan_Module_Table_Table.prev_page_text%></a>
      <%/if%>
      <%if $br_last>($br_pagesize+$br_first)%>
       |<a href="#" onclick="v<%$uniqid%>.go_page('<%$br_firstnext%>');"><%$syslabels.Seolan_Module_Table_Table.next_page_text%></a>
      <%/if%>
     </td>
    </tr>
   </table>

  <%/if%>
 </fieldset>
</div>


<fieldset>
  <legend><%$syslabels.Seolan_Module_Blog_Blog.posts%></legend>
    <%section name=i loop=$br_lines_oid%>
    <%assign var="comments" value=$br_lines_comments[i]%>

      <h4><%$syslabels.Seolan_Module_Blog_Blog.post%> : <%$br_lines_otitle[i]->html%></h4>
      <ul class="ul-list-inline list-li-border-left background-01 ul-list-tools">
        <li><a class="cv8-ajaxlink" title="<%$syslabels.Seolan_Core_General.view_text%>" href="<%$self%>&function=displayPost&moid=<%$_moid%>&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&template=Module/Blog.displaypost.html&tplentry=br"><%$syslabels.Seolan_Core_General.view%></a></li>
        <%if $modsec_mods[$_moid].rw%>
          <li><a class="cv8-ajaxlink" title="<%$syslabels.Seolan_Core_General.edit_text%>" href="<%$self%>&function=editPost&moid=<%$_moid%>&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&template=Module/Blog.editpost.html&tplentry=br"><%$syslabels.Seolan_Core_General.edit%></a></li>
          <li><a class="cv8-ajaxlink" title="<%$syslabels.Seolan_Core_General.delete_text%>" x-confirm="var ret=TZR.confirmDelete();" href="<%$self%>&function=delPost&template=proc.html&moid=<%$_moid%>&tplentry=br&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&_next=<%$here|escape:url%>"><%$syslabels.Seolan_Core_General.delete%></a></li>
          <%if $br_lines_oPUBLISH[i]->raw==1%>
            <li><a class="cv8-ajaxlink" title="<%$syslabels.Seolan_Core_General.unapprove_text%>" href="<%$self%>&function=validatePost&template=Module/Blog.displaypost.html&moid=<%$_moid%>&tplentry=br&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&value=0&_next=<%$here|escape:url%>"><%$syslabels.Seolan_Core_General.approved%></a></li>
            <%else%>
            <li><a class="cv8-ajaxlink"  title="<%$syslabels.Seolan_Core_General.unapprove_text%>" href="<%$self%>&function=validatePost&template=Module/Blog.displaypost.html&moid=<%$_moid%>&tplentry=br&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&value=1&_next=<%$here|escape:url%>"><%$syslabels.Seolan_Core_General.not_approved%></a></li>
          <%/if%>
        <%/if%>
        <li><a class="cv8-ajaxlink" title="<%$syslabels.Seolan_Module_Blog_Blog.addcomment_text%>" href="<%$self%>&moid=<%$_moid%>&function=addComment&template=Module/Blog.addcomment.html&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&tplentry=br"><%$syslabels.Seolan_Module_Blog_Blog.addcomment%></a></li>
        <li><%$br_lines_odatep[i]->html%></li>
        <li><%$br_lines_owho[i]->html%></li>
	<%if $comments.lines_oid%>
        <li><a class="cv8-ajaxlink" title="<%$syslabels.Seolan_Module_Blog_Blog.comments_text%>" href="<%$self%>&function=displayPost&moid=<%$_moid%>&oid=<%$smarty.request.oid%>&post=<%$br_lines_oid[i]%>&template=Module/Blog.displaypost.html&tplentry=br#comments"><%$syslabels.Seolan_Module_Blog_Blog.comments_text%> <%if $comments.last%>(<%$comments.last%>)<%/if%></a></li>
	<%/if%>
      </ul>

      <div class="margin-bottom">
        <p><%$br_lines_otxt[i]->html%></p>
        <p><%$br_lines_oafile[i]->html%></p>
      </div>

    <%/section%>
</fieldset>


<%/if%>

